{% load static i18n %}
{% load static %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<html>
 <head>
   <title>CovidLaws // Coronavirus measures by country - About</title>
       <meta name="description" content="Collection of measures/restrictions/policies enacted in the fight against the corona-virus/covid-19 pandemic by country. Visualized as timeline and map (Europe).">


   <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/project.js' %}"></script>
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/3.js" site="EWPICMYO"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>

       <style>
      body {
        background-color: #d5d5d5;
      }
    </style>
 </head>
 <body>
 <div style="margin-left: 30;margin-top: 30;margin-bottom: 30;margin-right: 30;">
<h1>About/Info</h1>
   <div id="menu"></div>
   <div id="title_bar"></div>
   <h3>Disclaimer</h3>
   <font size="4rem">
   <p>We give our best to keep the data updated, but it is a very difficult task. For current rules in a country, please check their official sites.<br>
     Also avoid making simple comparisons - just implementing or abolish a measure is not the single reason to influence the number of infections.</p>
     <p>An example for a scientific research is <a href="https://www.medrxiv.org/content/medrxiv/early/2020/04/24/2020.04.16.20062141.full.pdf" target="_blank">The estimated impact of non-pharmaceutical interventions ondocumented cases of COVID-19: A cross-country analysis</a>, a study from Switzerland.</p>
     <p>Always look at the bigger picture. But it this site might be helpful as a starter to dig into a research.</p>
     <p>And if you see a mistake - please let us know! We need you, as a local or why every you know what you know (we love sources!)!</p>

   </font>
<h3>Sources measures</h3>
   <font size="4rem">

<p>Blavatnik school of government -  Coronavirus government response tracker - <a href="https://www.bsg.ox.ac.uk/research/research-projects/coronavirus-government-response-tracker">Link</a></p>
<p>acaps.org -  Covid-19 Government Measures Dataset - <a href="https://www.acaps.org/covid19-government-measures-dataset">Link</a></p>
<p>Wikipedia - Covid-19 by country - <a href="https://en.wikipedia.org/wiki/COVID-19_pandemic_by_country_and_territory">Link</a></p>
 <p>International SOS - Travel restrictions, Flight operations - <a href="https://pandemic.internationalsos.com/2019-ncov/ncov-travel-restrictions-flight-operations-and-screening">Link</a></p>
     <p>Official governmet/health ministry sites (see country profiles)</p>
 <p>...various newspapers/sources</p>

   <h3>Source cases/deaths</h3>
   <p>EU Open Data Portal - <a href="https://data.europa.eu/euodp/en/data/dataset/covid-19-coronavirus-data/resource/55e8f966-d5c8-438e-85bc-c7a5a26f4863">Link</a></p>
   </font>
 </div>
 </body>
</html>
