{% load static i18n %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <title>
    Bar chart races for Covid numbers
  </title>
  <meta property="og:title" content="Opensource bar chart race generator">
  <meta property="og:description" content="Generate your own bar chart race from a csv file thanks to this open source tool made by FabDev">
  <meta property="og:image" content="https://fabdevgit.github.io/barchartrace/css/demo.png">
  <meta property="og:url" content="https://fabdevgit.github.io/barchartrace/">
  <meta name="twitter:card" content="summary_large_image">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Generate your own bar chart race from a csv file thanks to this open source tool made by FabDev">
  <meta name="keywords" content="Opensource bar chart race generator">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="{% static 'css/barchart_style.css' %}" rel="stylesheet">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
        <script src="{% url 'javascript-catalog' %}"></script>

  <link rel="icon" href="css/favicon.png">
  <script>
  </script>
</head>
<body>
<main class="main-content" id="app">
  <section class="section">
    <div class="container">

      <h1 id="main-title" class=" text-center">CovidLaws // Bar chart race generator</h1>
  <div id="menu"></div>
      <div class="card border">
        <div class="card-body">
          <div class="row" align="center">
            <div class="col-lg-6 d-lg-block">
              <table class="table table-bordered">
                <tbody>
                <tr>
                  <td>Incidence 7 days Cantons since October</td>
                  <td><a href="" @click.prevent="loadExample('covid19_ch_october_7')">load data</a></td>
                </tr>
                <tr>
                  <td>Incidence 14 days Cantons since July</td>
                  <td><a href="" @click.prevent="loadExample('covid19_ch_july')">load data</a></td>
                </tr>
                <tr>
                  <td>Incidence 14 days Cantons since begin</td>
                  <td><a href="" @click.prevent="loadExample('covid19_ch_start')">load data</a></td>
                </tr>
                <tr>
                  <td>Incidence 14 days European countries since June 21</td>
                  <td><a href="" @click.prevent="loadExample('covid19_eu_june21')">load data</a></td>
                </tr>
                <tr>
                  <td>Incidence 14 days European countries since July 20</td>
                  <td><a href="" @click.prevent="loadExample('covid19_eu_july')">load data</a></td>
                </tr>
                <tr>
                  <td>Incidence 14 days European countries since begin</td>
                  <td><a href="" @click.prevent="loadExample('covid19_eu_start')">load data</a></td>
                </tr>
                <tr>
                  <td>Incidence 7 days European countries since June 21</td>
                  <td><a href="" @click.prevent="loadExample('covid19_eu_7_june21')">load data</a></td>
                </tr>
                <tr>
                  <td>Incidence 7 days European countries since October 20</td>
                  <td><a href="" @click.prevent="loadExample('covid19_eu_7_october')">load data</a></td>
                </tr>
                <tr>
                  <td>Incidence 7 days European countries since July 20</td>
                  <td><a href="" @click.prevent="loadExample('covid19_eu_7_july')">load data</a></td>
                </tr>
                <tr>
                  <td>Incidence 7 days European countries since begin</td>
                  <td><a href="" @click.prevent="loadExample('covid19_eu_7_start')">load data</a></td>
                </tr>
                <tr>
                  <td>Incidence 7 days World countries since July (selection)</td>
                  <td><a href="" @click.prevent="loadExample('covid19_int_7_july')">load data</a></td>
                </tr>
                <tr>
                  <td>Incidence 7 days World countries since begin (selection)</td>
                  <td><a href="" @click.prevent="loadExample('covid19_int_7_start')">load data</a></td>
                </tr>
                <tr>
                  <td>Deaths past 14 days per 100k population in European countries</td>
                  <td><a href="" @click.prevent="loadExample('covid19_eu_death_start')">load data</a></td>
                </tr>
                <tr>
                  <td>Positivity rates in European countries</td>
                  <td><a href="" @click.prevent="loadExample('covid19_eu_positivity_start')">load data</a></td>
                </tr>
                </tbody>

              </table>
             <form @submit="checkForm">
                <div class="form-group text-center">
                  <button type="button" v-if="!csv_data" class="btn btn-outline-primary disabled">Start Bar Chart Race</button>
                  <button type="submit" v-if="csv_data" class="btn btn-primary">Start Bar Chart Race</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div id="chart-card" class="card">
        <div class="card-body position-relative">
          <div class="text-right mb-4">
            <button type="button" class="btn btn-xs btn-outline-primary" v-on:click="stopRace">Stop</button>
            <button type="button" class="btn btn-xs btn-outline-primary" v-on:click="checkForm">Restart</button>
          </div>
          <h5 class="card-title" id="graph-title">((title))</h5>
          <div id="chartDiv" style="width:100%; height: 650px"></div>
          <p style="position:absolute;top:50%;left:50%;font-size:1.125rem;transform: translate(-50%,-50%)" v-if="interval == null">Please load data first</p>
        </div>
      </div>
    </div>
  </section>
  Code from <a href="https://github.com/FabDevGit/barchartrace">FabDev</a>
</main>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/base_global.js' %}"></script>
<script type="text/javascript" src="{% static 'js/barchartrace.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/menu.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script type="text/javascript" src="{% static 'js/menu.js' %}"></script>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            errors: [],
            file: null,
            csv_data: null,
            interval: null,
            duration: 20,
            tickDuration: 500,
            top_n: 10,
            title: "My bar chart",
            fileplaceholder: "Choose file"
        },
        methods: {
            checkForm: function (e) {
                var self = this;
                if (self.interval !== null) {
                    self.interval.stop()
                }
                if (!this.csv_data) {
                    return
                }
                if (self.tickDuration && self.top_n) {
                    e.preventDefault();
                    this.top_n = parseInt(self.top_n);
                    this.duration = parseInt(self.duration);
                    this.tickDuration = self.duration / self.csv_data.length * 1000
                    let chartDiv = document.getElementById("chartDiv");
                    var data = JSON.parse(JSON.stringify(self.csv_data))
                    self.interval = createBarChartRace(data, self.top_n, self.tickDuration);
                }

                self.errors = [];

                if (!self.csv_data) {
                    self.errors.push('csv file is required');
                }
                if (!self.tickDuration) {
                    self.errors.push('Time between frames required.');
                }
                if (!self.top_n) {
                    self.errors.push('Number of bars to display required.');
                }
                e.preventDefault();
                window.scrollTo({top: $("#chart-card").offset().top - 10, behavior: 'smooth'});
            },
            loadExample: function (setting_name) {
                var self = this;
                self.duration = settings[setting_name].duration;
                self.top_n = settings[setting_name]['top_n'];
                self.title = settings[setting_name].title;
                Papa.parse(settings[setting_name].url, {
                        download: true,
                        header: true,
                        skipEmptyLines: true,
                        complete: function (results) {
                            if (Object.keys(results.data[0]).length === 3) {
                                results.data = reshapeData(results.data)
                            }
                            self.csv_data = results.data;
                        }
                    }
                )
            },
            stopRace: function () {
                if (!this.interval) {
                    return
                } else {
                    this.interval.stop()
                }
            },

        },
        delimiters: ["((", "))"]

    });


    /*
    reshapes the data from the second accepted csv format to the other :
    (one row per contender and per date) => (one row per date (ordered) and one column per contender.)
    */
    function reshapeData(data) {
        // groupby dates (first column)
        column_names = new Set(data.map(x => x[Object.keys(x)[1]]));
        const grouped_by_date = _.groupBy(data, (e) => e[Object.keys(e)[0]]);
        return Object.keys(grouped_by_date).sort().map((k) => {
            item = {'date': k};
            column_names.forEach((n) => item[n] = 0);
            grouped_by_date[k].forEach((e) => item[e[Object.keys(e)[1]]] = e[Object.keys(e)[2]]);
            return item
        })

    }

    // settings for the example data
    const settings = {
        "covid19_ch_start": {
            "duration": 60,
            "top_n": 20,
            "title": "Cantons Incidence 14 days ",
            "url": "{% static 'csv/cantons14_start.csv' %}"
        },
        "covid19_ch_july": {
            "duration": 30,
            "top_n": 20,
            "title": "Cantons Incidence 14 days ",
            "url": "{% static 'csv/cantons14_july.csv' %}"
        },
        "covid19_ch_october_7": {
            "duration": 30,
            "top_n": 20,
            "title": "Cantons Incidence 7 days",
            "url": "{% static 'csv/cantons7_october.csv' %}"
        },
        "covid19_eu_start": {
            "duration": 60,
            "top_n": 20,
            "title": "Countries, Incidence 14 days ",
            "url": "{% static 'csv/countries14_start.csv' %}"
        },
        "covid19_eu_june21": {
            "duration": 30,
            "top_n": 20,
            "title": "Countries, Incidence 14 days ",
            "url": "{% static 'csv/countries14_june21.csv' %}"
        },
        "covid19_eu_july": {
            "duration": 30,
            "top_n": 20,
            "title": "Countries, Incidence 14 days ",
            "url": "{% static 'csv/countries14_july.csv' %}"
        },
        "covid19_eu_7_start": {
            "duration": 60,
            "top_n": 20,
            "title": "Countries, Incidence 7 days ",
            "url": "{% static 'csv/countries7_start.csv' %}"
        },
        "covid19_eu_7_june21": {
            "duration": 30,
            "top_n": 20,
            "title": "Countries, Incidence 7 days ",
            "url": "{% static 'csv/countries7_june21.csv' %}"
        },
        "covid19_eu_7_july": {
            "duration": 30,
            "top_n": 20,
            "title": "Countries, Incidence 7 days ",
            "url": "{% static 'csv/countries7_july.csv' %}"
        },
        "covid19_eu_7_october": {
            "duration": 30,
            "top_n": 20,
            "title": "Countries, Incidence 7 days ",
            "url": "{% static 'csv/countries7_october.csv' %}"
        },
        "covid19_int_7_start": {
            "duration": 60,
            "top_n": 20,
            "title": "Countries, Incidence 7 days ",
            "url": "{% static 'csv/countries7_int_start.csv' %}"
        },
        "covid19_int_7_july": {
            "duration": 30,
            "top_n": 20,
            "title": "Countries, Incidence 7 days ",
            "url": "{% static 'csv/countries7_int_july.csv' %}"
        },
        "covid19_eu_death_start": {
            "duration": 60,
            "top_n": 20,
            "title": "Countries, Deaths past 14 days per 100k population",
            "url": "{% static 'csv/countries14_death_start.csv' %}"
        },
        "covid19_eu_positivity_start": {
            "duration": 60,
            "top_n": 20,
            "title": "Positivity rates",
            "url": "{% static 'csv/countries14_positivity_start.csv' %}"
        },
    }


</script>
</body>
</html>






