{% extends "base.html" %}
{% load static i18n %}

{% block title %}CovidLaws // {% trans 'Coronavirus measures by canton'%} - {% trans 'Canton profiles'%}{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/canton.js' %}"></script>
{% endblock %}
{% block content %}
      <div id="param" type="hidden" value={{ items }}>{{ items }}</div>

         <div align="center">
                  <div class="ui animated button" tabindex="0" id="btnCopyLink">
            <div class="visible content"><i class="copy icon"></i></div>
            <div class="hidden content">
              Copy link<br>
            </div>
        </div>
          </div>

    <div class="ui active dimmer" id="dimmer">
      <div class="ui text loader">{% trans 'Loading'%}</div>
    </div>

    <p id="grande"><b>{% trans 'Incidence and measures'%}</b></p>
          <div class="ui placeholder segment">
          <div class="ui two column stackable center aligned grid">
            <div class="ui vertical divider"></div>
            <div class="middle aligned row">
              <div class="column">
                <p id="grande">{% trans 'Cantons (empty=all)'%}</p>

                  <div class="ui multiple fluid search selection dropdown" id="cantons_dd">
                    <i class="large flag outline icon"></i>
                    <input type="hidden" name="cantons">
                    <i class="dropdown icon"></i>
                    <div class="default text">{% trans 'Cantons'%}</div>
                    <div class="menu" id="cantons_list">
                  </div>
                </div>

              </div>
              <div class="column">
               <p id="grande">{% trans 'Measure type (empty=all)'%}</p>
                    <div class="ui multiple fluid search selection dropdown" id="measuretypes_dd">
                      <i class="large heartbeat icon"></i>
                      <input type="hidden" name="measuretypes">
                      <i class="dropdown icon"></i>
                      <div class="default text">{% trans 'Measure types'%}</div>
                      <div class="menu">
                    </div>
                  </div>
              </div>

            </div>
            <div class="ui divider"></div>
            <div class="middle aligned row">
                          <div class="column">
                {% trans 'From:'%}  <input style="height:60px" type="date" id="datefrom" value="2020-06-01">&nbsp;
                {% trans 'To:'%}   <input style="height:60px" type="date" id="dateto" value="2020-07-01">


              </div>
              <div class="column">
                <div class="ui vertical animated large button" tabindex="0" id="load_data" style="width:200px">
                  <div class="hidden content" >{% trans 'Load'%}</div>
                  <div class="visible content">
                    <i class="large arrow circle down icon"></i>
                  </div>
                </div>
              </div>


            </div>

          </div>
        </div>
    <p id="grande">{% trans 'Click on lines/cantons for details.'%}</p>



        <canvas id="compareChart">
        </canvas>
      <a href="https://raw.githubusercontent.com/openZH/covid_19/master/COVID19_Fallzahlen_CH_total_v2.csv">Datasource OpenData ZH</a><br><br>

                  <div class="ui vertical animated large button" tabindex="0" id="save_incidence" style="width:100px">
                  <div class="hidden content" >{% trans 'Save'%}</div>
                  <div class="visible content">
                    <i class="save icon"></i>
                  </div>
                </div>
          <div id="dialog" title="Basic dialog">
        </div>
  <br><br>
          <canvas id="compareR0">
        </canvas>
          <div id="dialogR0" title="Basic dialog">
        </div>
    Source R<sub>e</sub>: <a href="https://github.com/covid-19-Re/dailyRe-Data" target="_blank">ETH Zurich</a><br>
    R<sub>e</sub> estimation based on confirmed cases is used. With high test positivity rates, the estimates based on the case numbers may be too low.<br>
    This is the mean R<sub>e</sub>, for high/low, visit the <a href="https://ibz-shiny.ethz.ch/covid-19-re/" target="_blank">Dashboard</a> of ETH Zurich.<br>
    The methods used are explained <a href="https://ibz-shiny.ethz.ch/covid-19-re/methods.pdf" target="_blank">here</a>.
    <br><br>
    <div class="ui vertical animated large button" tabindex="0" id="save_r0" style="width:100px">
                  <div class="hidden content" >Save</div>
                  <div class="visible content">
                    <i class="save icon"></i>
                  </div>
                </div>
    <br><br>

          <canvas id="compareTendency">
        </canvas>
              {% trans 'Rise/Fall total cases past 7 days compared to one week ago. Value > 100 = Cases double in a week, 0 = constant growth, < 0 cases go down.'%}<br>
              <a href="https://raw.githubusercontent.com/openZH/covid_19/master/COVID19_Fallzahlen_CH_total_v2.csv">Datasource OpenData ZH</a>
  <br><br>
          <div id="dialogTendency" title="Basic dialog">
        </div>
                    <div class="ui vertical animated large button" tabindex="0" id="save_tendency" style="width:100px">
                  <div class="hidden content" >Save</div>
                  <div class="visible content">
                    <i class="save icon"></i>
                  </div>
                </div>

    <br><br>

          <canvas id="compareMobility">
        </canvas>
              {% trans 'Google data for mobility. 0 = normal mobility (baseline).'%}<br>
              Datasource: <a href="https://www.google.com/covid19/mobility/"> Google</a><br>
              <a href="https://support.google.com/covid19-mobility/answer/9825414">How to interpret mobility data.</a>
  <br><br>
          <div id="dialogMobility" title="Basic dialog">
        </div>
                 <div class="ui vertical animated large button" tabindex="0" id="save_mobility" style="width:100px">
                  <div class="hidden content" >Save</div>
                  <div class="visible content">
                    <i class="save icon"></i>
                  </div>
                </div>

    <br><br>

  <!--

     <br><br>
  <p id="grande"><b>Timeline</b></p>
                 <p id="grande">
                  * = end of measure undefined,
                  # = regional<br>
                 </p>
                    <div id="timeline"></div>

  <br><br>
  To check where you can travel to from Switzerland without a quarantine, see <a href="https://passportparty.ch/2020/07/22/wohin-man-derzeit-reisen-darf-und-wohin-nicht/" target="_blank">Passportparty.ch</a>.

                <p id="grande"><b>Current active measures</b><br>For federal rules, check <a href="/country/ch">Country Profile Switzerland</a></p>

                 <div id="current"></div>
  -->


{% endblock %}





