{% extends "base.html" %}
{% load static i18n %}

{% block title_header %}CovidLaws - Coronavirus measures and data Switzerland{% endblock %}
{% block description %}XXX{% endblock %}
{% block title %}Coronavirus measures and data Switzerland{% endblock %}
{% block content %}
<div class="ui three column grid">
    <div class="column">
  <div class="ui fluid card" style="text-align:center">
    <a href="/cantons">
      <i class="plus square icon huge"></i>
      <i class="info icon huge"></i>

    </a>
    <div class="content" >
      <a class="header" href="/cantons">{% trans 'Measures Switzerland'%}</a>
      <div class="description">
        {% trans 'Comparison dashboard'%}
      </div>
    </div>

  </div>

  </div>
    <div class="column">
  <div class="ui fluid card" style="text-align:center">
    <a href="/chrisk">
      <i class="plus square icon huge"></i>
      <i class="exclamation triangle icon huge"></i>

    </a>
    <div class="content" >
      <a class="header" href="/chrisk">{% trans 'Risk calculator'%}</a>
      <div class="description">
        {% trans 'Switzerland'%}
      </div>
    </div>

  </div>

  </div>
    <div class="column">
  <div class="ui fluid card" style="text-align:center">
    <a href="/districts">
      <i class="plus square icon huge"></i>
      <i class="chart area icon huge"></i>

    </a>
    <div class="content" >
      <a class="header" href="/districts">{% trans 'Incidence map'%}</a>
      <div class="description">
        {% trans 'Switzerland'%}
      </div>
    </div>

  </div>

  </div>
<!--
    <div class="column">
  <div class="ui fluid card" style="text-align:center">
    <a href="/chmaps">
      <i class="plus square icon huge"></i>
      <i class="images icon huge"></i>

    </a>
    <div class="content" >
      <a class="header" href="/chmaps">{% trans 'Measures maps'%}</a>
      <div class="description">
        {% trans 'Switzerland'%}
      </div>
    </div>
  </div>
  </div>
  /-->
    <div class="column">
  <div class="ui fluid card" style="text-align:center">
    <a href="/ranking7">
      <i class="plus square icon huge"></i>
      <i class="tachometer alternate icon huge"></i>

    </a>
    <div class="content" >
      <a class="header" href="/ranking7">{% trans 'Rankings'%}</a>
      <div class="description">
        {% trans 'Switzerland'%}
      </div>
    </div>

  </div>
  </div>
      <div class="column">
  <div class="ui fluid card" style="text-align:center">
    <a href="/deaths_ch">
      <i class="plus square icon huge"></i>
      <i class="plus square icon outline huge"></i>

    </a>
    <div class="content" >
      <a class="header" href="/deaths_ch">{% trans 'Deaths'%}</a>
      <div class="description">
        {% trans 'per canton'%}
      </div>
    </div>

  </div>
  </div>
      <div class="column">
  <div class="ui fluid card" style="text-align:center">
    <a href="/chmaps">
      <i class="plus square icon huge"></i>
      <i class="image outline icon huge"></i>

    </a>
    <div class="content" >
      <a class="header" href="/chmaps">{% trans 'Measures maps'%}</a>
      <div class="description">
        {% trans 'per canton'%}
      </div>
    </div>

  </div>
  </div>
</div>
  <br>
    <b>{% trans 'Last changes'%}</b><br>
    {% for x in measures%}
       {{x}}, {{x.created}}<br>
    {% endfor %}
{% endblock %}
