{% extends "base.html" %}
{% load static i18n %}

{% block title_header %}CovidLaws // Coronavirus measures by canton - Maps{% endblock %}
{% block description %}XXX{% endblock %}
{% block title %}Coronavirus measures by canton - Maps{% endblock %}
{% block content %}
  <div class="ui active dimmer" id="dimmer">
    <div class="ui text loader">{% trans 'Loading</div>
  </div>

  <p id="grande"><b>{% trans 'Ski resorts' %}</b></p>
        <div align="center">
          <div id='mapSkiing'  style="height: 600px; width: 100%;"></div>
        </div>
  <br>

<!--   <p id="grande"><b>{% trans 'Rules in Restaurants' %}</b></p>
        <div align="center">
          <div id='mapRestaurants'  style="height: 600px; width: 100%;"></div>
        </div>
  <br>
  <p id="grande"><b>{% trans 'Gathering restrictions' %}</b></p>
        <div align="center">
          <div id='mapGatherings'  style="height: 600px; width: 100%;"></div>
        </div>
  <br>
  <p id="grande"><b>{% trans 'Sport/Social clubs/Culture' %}</b></p>
        <div align="center">
          <div id='mapLeisure'  style="height: 600px; width: 100%;"></div>
        </div>
  <br>
  <p id="grande"><b>{% trans 'Shops' %}</b></p>
        <div align="center">
          <div id='mapShops'  style="height: 600px; width: 100%;"></div>
        </div>
  <br>



  <p id="grande"><b>{% trans 'Home Office' %}</b></p>
        <div align="center">
          <div id='mapHomeOffice'  style="height: 600px; width: 100%;"></div>
        </div>
  <br>

  <p id="grande"><b>{% trans 'Masks in public' %}</b></p>
        <div align="center">
          <div id='mapMasks'  style="height: 600px; width: 100%;"></div>
        </div>
  <br>-->

  <br>
{% trans 'To check where you can travel to from Switzerland without a quarantine, see <a href="https://passportparty.ch/2020/07/22/wohin-man-derzeit-reisen-darf-und-wohin-nicht/" target="_blank">Passportparty.ch</a>' %}.

      </div>
</div>


{% endblock %}
