{% load static i18n %}
{% load static %}
{# Load the tag library #}

<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>CovidLaws // Coronavirus measures by canton - Canton profile</title>
        <meta name="description" content="Collection of measures/restrictions/policies enacted in the fight against the corona-virus/covid-19 pandemic by country. Visualized as timeline and map (Europe).">
       <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/3.js" site="EWPICMYO"></script>
    <!-- / Fathom -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    <script type="text/javascript" src="{% static 'js/project.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chrisk.js' %}"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
	<style>
		html, body {
			height: 100%;
			margin: 0;
		}
		#map {
			width: 600px;
			height: 400px;
		}
	</style>

	<style>#map { width: 800px; height: 700px; }
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }</style>

</head>
<body>
  <p bgcolor="black">

  <div style="margin-left: 30;margin-top: 30;margin-right: 30;">

  <h1>CovidLaws // Switzerland // Risk map</h1>
  <div id="param" type="hidden" value={{ item.pk }}>{{ item.pk }}</div>
  <div id="menu"></div>


  <h2>Demo demo demo demo</h2>
  This is just a quick demo, I am NOT an epidemologist and I have no idea if this is scientific or not, just a random person who started this project during lockdown to keep me sane.
  <h3>Risk yesterday</h3>

  <p>Calculating the chance that one or more members of a group is/are infectious. Based on the model of the <a href="https://covid19risk.biosci.gatech.edu/" target="_blank">Georgia Institute of Technology</a>.<br>
  Base number: Incidence of past 14 days per 100k population. CDC recommends 10 days.</p>
  <p>Formula: 100 - (((1-(1/(100000/(cases_past14days*bias)))) ** groupsize) * 100)</p>
  <a href="https://github.com/balzamas/covidmeasure">GitHub</a> (Code from hell, quick and dirty, ignore master branch, for this page see chrisk*-files).<br>
  <a href="https://raw.githubusercontent.com/openZH/covid_19/master/COVID19_Fallzahlen_CH_total_v2.csv">Datasource Cases openZH</a>
  <br><br>
  <p id="grande"><b>Risk map</b></p>

  <p>Group size:</p>
  <div class="ui input" >
    <input type="number" id="groupsize" placeholder="Group size" value=300>
  </div>
  <br><br>
  <p>Bias:</p>
  <div class="ui input" >
    <input type="number" id="bias" placeholder="Bias" value=3>
  </div>
  Ascertainment bias: incidence is multiplied by this number.
  <br><br>
  <div class="ui vertical animated large button" tabindex="0" id="load_data" style="width:200px">
    <div class="hidden content" >Load</div>
    <div class="visible content">
        <i class="large arrow circle down icon"></i>
    </div>
  </div>
  <br><br>
  <div align="center">
    <div id='mapRisk'  style="height: 600px; width: 100%;"></div>
  </div>
  </body>
</html>





