{% extends "base.html" %}
{% load static i18n %}

{% block scripts %}
{% endblock %}
{% block styles %}
	<style>
		#map {
			width: 600px;
			height: 400px;

      .map_center{
      text-align:center;
      }
		}
	</style>

	<style>#map { width: 800px; height: 700px; }
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }</style>

{% endblock %}

{% block title_header %}CovidLaws // {% trans 'Close-o-meter' %}{% endblock %}
{% block description %}{% trans 'Close-o-meter' %}{% endblock %}
{% block content %}
   <div align="center">
     <h2>{% trans 'Close-o-meter' %}</h2>
     <p>
           <img src="/static/images/clock/{{value}}.png">
     </p>

     <table class="ui celled table">
       <tr  class="center aligned">
         {% if hosp_cov19_patients < 300 %}
           <td class="positive">
         {% else %}
           <td class="negative">
         {% endif %}
           {% trans 'Number of Covid patients in intensive care < 300' %}
         </td>
       </tr>
       <tr  class="center aligned">
         <td>
          {% trans 'Covid patients in ICU' %}: {{hosp_cov19_patients}} ({{hosp_cov19_patients_7d}} {% if hosp_cov19_patients_7d > hosp_cov19_patients %} &#9989; {% else %} &#128308; {% endif %}) // {% trans 'Full capacity ICU' %}: {{hosp_capacity}} // {% trans 'Proportion' %}: {{hosp_quota|floatformat:1}} // {% trans 'Date' %}: {{hosp_date}}
         </td>
       </tr>
     </table>

          <table class="ui celled table">
       <tr  class="center aligned">
         {% if hosp_average < 80 %}
           <td class="positive" colspan="7">
         {% else %}
           <td class="negative" colspan="7">
         {% endif %}

           {% trans 'New hospital entries lower then 80 (7-day-average).' %}
         </td>
       </tr>
              <tr  class="center aligned">
                <td colspan="7">
                  {% trans 'New entries' %}: {{hosp_average|floatformat:0}} ({{hosp_average_7d|floatformat:0}} {% if hosp_average_7d > hosp_average %} &#9989; {% else %} &#128308; {% endif %})
                </td>
              </tr>
       <tr  class="center aligned">
         <td>
        {{hosp1_date}}: {{hosp1_value|floatformat:0}}
           </td>
         <td>
        {{hosp2_date}}: {{hosp2_value|floatformat:0}}
           </td>
         <td>
        {{hosp3_date}}: {{hosp3_value|floatformat:0}}
           </td>
         <td>
        {{hosp4_date}}: {{hosp4_value|floatformat:0}}
           </td>
         <td>
        {{hosp5_date}}: {{hosp5_value|floatformat:0}}
           </td>
         <td>
        {{hosp6_date}}: {{hosp6_value|floatformat:0}}
           </td>
                  <td>
        {{hosp7_date}}: {{hosp7_value|floatformat:0}}
           </td>
         </td>
       </tr>
     </table>

          <table class="ui celled table">
       <tr  class="center aligned">
         {% if r_average < 1.15 %}
           <td class="positive" colspan="7">
         {% else %}
           <td class="negative" colspan="7">
         {% endif %}

           {% trans 'Average of past 7 R values under 1.15' %}
         </td>
       </tr>
              <tr  class="center aligned">
                <td colspan="7">
                  R: {{r_average}} ({{r_average_7d}} {% if r_average_7d > r_average %} &#9989; {% else %} &#128308; {% endif %})
                </td>
              </tr>
       <tr  class="center aligned">
         <td>
        {{r1_date}}: {{r1_value}}
           </td>
         <td>
        {{r2_date}}: {{r2_value}}
           </td>
         <td>
        {{r3_date}}: {{r3_value}}
           </td>
         <td>
        {{r4_date}}: {{r4_value}}
           </td>
         <td>
        {{r5_date}}: {{r5_value}}
           </td>
         <td>
        {{r6_date}}: {{r6_value}}
           </td>
                  <td>
        {{r7_date}}: {{r7_value}}
           </td>
         </td>
       </tr>
     </table>

     <table class="ui celled table" width="500px">
       <tr  class="center aligned">
         {% if 350 >  incidence_latest%}
           <td class="positive">
         {% else %}
           <td class="negative">
         {% endif %}
           {% trans '14 day incidence lower then 350.' %}
         </td>
       </tr>
       <tr  class="center aligned">
         <td>
           {% trans 'Current incidence' %}: {{incidence_latest}} ({{incidence_latest_7d}} {% if incidence_latest_7d > incidence_latest %} &#9989; {% else %} &#128308; {% endif %}) // {% trans 'Date' %}: {{incidence_latest_date}}
           </td>
       </tr>
     </table>

    <br>
     {% trans 'Numbers in brackets: Value a week before current value.' %}&nbsp;
     {% trans 'Past and current values can change due updates.' %}
     <br>
     {% trans 'Using these criterias, the government will decide if further restrictions will be introduced' %} (<a href="https://www.bag.admin.ch/bag/de/home/krankheiten/ausbrueche-epidemien-pandemien/aktuelle-ausbrueche-epidemien/novel-cov/massnahmen-des-bundes.html" target="_blank">{% trans 'Source FOPH' %}</a>).<br>
     {% trans 'Source data:' %} <a href="https://www.covid19.admin.ch/" target="_blank">{% trans 'FOPH' %}</a>
   </div>

{% endblock %}





