{% extends "base.html" %}
{% load static i18n %}

    {% block scripts %}
    <script type="text/javascript"
      src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"
    ></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/card.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
    <script type="text/javascript" src="{% static 'js/chartjs-plugin-annotation.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>

       <link href="{% static 'css/timeline.css' %}" rel="stylesheet">
       <script type="text/javascript" src="{% static 'js/timeline_base.js' %}"></script>
       <script type="text/javascript" src="{% static 'js/base_annotation.js' %}"></script>
       <script type="text/javascript" src="{% static 'js/country.js' %}"></script>

       <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
    {% endblock %}

    {% block styles %}
    {% endblock %}

{% block title_header %}CovidLaws // Coronavirus measures by country - Country profile{% endblock %}
{% block description %}XXX{% endblock %}
{% block title %}Coronavirus measures by country - Country profile{% endblock %}
{% block content %}
      <div id="param" type="hidden" value={{ item.pk }}>{{ item.pk }}</div>

  <div class="ui one column stackable center aligned grid">
    <div class="middle aligned row">
      <div class="column">

                <div class="ui fluid search selection dropdown" id="countries_dd">
                  <i class="large flag outline icon"></i>
                  <input type="hidden" name="countries">
                  <i class="dropdown icon"></i>
                  <div class="default text">Countries</div>
                  <div class="menu" id="countries_list">
                </div>
              </div>
      </div>
    </div>
  </div>
<br>
       <div class="container-fluid" >
  <div class="row justify-content-md-center">
    <div class="col-md-auto">

                    <div class="ui segment">
          <div id="worldometer"></div>
          <div id="gov"></div>
                    </div>
    </div>
  </div>
       </div>
<br>
               <p id="grande"><b>Current active measures</b></p>
               <div id="current"></div>
<br>
<p>
              Source Measures: <a href="https://github.com/OxCGRT/covid-policy-tracker/blob/master/documentation/codebook.md#containment-and-closure-policies">Oxford Covid-19 Government Response Tracker</a><br>
             Source Gastronomy and Non-essential shops: covidlaws.net - we give our best do keep things updated for Europe, please report us any mistake.
</p>


      <div id="bycountry">
            <div class="ui accordion">
            <div class="title">
              <i class="dropdown icon"></i>
              <p id="grande"><b>Timeline</b></p>
                 </div>
             <div class="content">
               <p>
                * = end of measure undefined,
                # = regional<br>
                Dark: Full closure // Light: Partial closure/with restrictions // White: Revoked/Never introduced
               </p>
               <div id="timeline"></div>
               <p>
             Source Measures: <a href="https://github.com/OxCGRT/covid-policy-tracker/blob/master/documentation/codebook.md#containment-and-closure-policies">Oxford Covid-19 Government Response Tracker</a><br>
             Source Gastronomy and Non-essential shops: covidlaws.net - we give our best do keep things updated for Europe, please report us any mistake.
               </p>
             </div>


           </div>
      </div>

  <br><br>
            <p id="grande"><b>Reported new cases</b></p>
                    <div style="height: 600px">
                    <canvas id="casesChart"></canvas>
                   </div>

                   Source Cases: <a href="https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series">J. Hopkins University</a>
                  <p>
                   <div class="ui vertical animated large button" tabindex="0" id="save_cases" style="width:100px">
                <div class="hidden content" >Save</div>
                <div class="visible content">
                  <i class="save icon"></i>
                </div>
              </div>
                </p>
<br><br>
              <p id="grande"><b>Positive rate (Tests), past 7 days</b></p>
                      <div style="height: 600px">
                        <canvas id="positivityChart"></canvas>
                      </div>
                  Source Positivity: <a href="https://ourworldindata.org/coronavirus-testing" target="_blank">Our World in data</a>
                <p>
                   <div class="ui vertical animated large button" tabindex="0" id="save_positivity" style="width:100px">
                <div class="hidden content" >Save</div>
                <div class="visible content">
                  <i class="save icon"></i>
                </div>
              </div>
                </p>

    <br><br>
             <p id="grande"><b>Re - Effective reproduction number (mean)</b></p>

                      <div style="height: 600px">
                        <canvas id="RChart"></canvas>
                      </div>
  Source R<sub>e</sub>: <a href="https://github.com/covid-19-Re/dailyRe-Data" target="_blank">ETH Zurich</a><br>
  R<sub>e</sub> estimation based on confirmed cases is used. With high test positivity rates, the estimates based on the case numbers may be too low.<br>
  This is the mean R<sub>e</sub>, for high/low, visit the <a href="https://ibz-shiny.ethz.ch/covid-19-re/" target="_blank">Dashboard</a> of ETH Zurich.<br>
  The methods used are explained <a href="https://ibz-shiny.ethz.ch/covid-19-re/methods.pdf" target="_blank">here</a>.
                  <p>

                 <div class="ui vertical animated large button" tabindex="0" id="save_r" style="width:100px">
                <div class="hidden content" >Save</div>
                <div class="visible content">
                  <i class="save icon"></i>
                </div>
              </div>
              </p>

    <br><br>
             <p id="grande"><b>Development past week/week before (%)</b></p>
              Rise/Fall total cases past 7 days compared to one week ago.

                      <div style="height: 600px">
                        <canvas id="tendencyChart"></canvas>
                      </div>
                  <p>
                 <div class="ui vertical animated large button" tabindex="0" id="save_tendency" style="width:100px">
                <div class="hidden content" >Save</div>
                <div class="visible content">
                  <i class="save icon"></i>
                </div>
              </div>
              </p>
<br><br>
              <p id="grande"><b>Death statistics </b></p>
                        <div style="height: 600px">
  <canvas id="deathChart"></canvas>
             </div>

   <div id="source_death"></div>
      Source Covid deaths: <a href="https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series">J. Hopkins University</a>

  <div id="deaths_description">
                    <p>Note: some countries provide daily total death numbers, others weekly/other formats. If not daily we calculated the per day value for the period.
                  <br><font color="red">Important</font>: the numbers for 2020 are in most cases incomplete! The closer the date, the larger the error margin! Please refer to the original source.
                      <br>Also keep in mind that in all countries, the outbreaks where regional - while some regions had significant more deaths, others had usual or lower death numbers.</p>
                  <p>As a comparison, you see the daily average in the past years and the daily average in the highest week in the past years. See explanation above the chart.</p>
                  </div>
                    <p>
                  <div class="ui vertical animated large button" tabindex="0" id="save_deaths" style="width:100px">
                <div class="hidden content" >Save</div>
                <div class="visible content">
                  <i class="save icon"></i>
                </div>
              </div>
                </p>




{% endblock %}
