{% extends "base.html" %}
{% load static i18n %}

    {% block scripts %}
    <script type="text/javascript" src="{% static 'js/deaths_ch.js' %}"></script>
  <script>
          $(window).on('load', function() {

          {% for canton in cantons %}
                var content = document.getElementById('content');
                var div = document.createElement('div');
                div.id = '{{canton.canton.code}}' + 'Chart';
                div.innerHTML =   '<table><tr><td><div class="chart-container"><canvas id="'+ '{{canton.canton.code}}' +'deathChart"></canvas></div></td></tr></table>\
                <table><tr>\
                <td><img src=/static/images/flags_ch/{{ canton.canton.code  }}_circle.png></td>\
                <td>&nbsp;</td>\
                <td>\
                  <table>\
                  <tr><td colspan="5"><b>Todesfälle ganzes Jahr</b></td><td style="padding-right:50px">&nbsp;&nbsp;</td><td colspan="5"><b>Seit Woche 12</b></td></tr>\
                   <tr><td>2020:</td><td>&nbsp;</td><td>{{canton.total20}}</td><td>&nbsp;</td><td >2020 im Vgl. zu:</td><td>&nbsp;&nbsp;</td><td>2020:</td><td>&nbsp;</td><td>{{canton.total20_w12}}</td><td>&nbsp;</td><td>2020 im Vgl. zu:</td></tr>\
                   <tr><td>2019:</td><td>&nbsp;</td><td>{{canton.total19}}</td><td>&nbsp;</td><td>{{ canton.diff19|floatformat:2 }} %</td><td>&nbsp;&nbsp;</td><td>2019:</td><td>&nbsp;</td><td>{{canton.total19_w12}}</td><td>&nbsp;</td><td>{{ canton.diff19_w12|floatformat:2 }} %</td></tr>\
                   <tr><td>2015:</td><td>&nbsp;</td><td>{{canton.total15}}</td><td>&nbsp;</td><td>{{ canton.diff15|floatformat:2 }} %</td><td>&nbsp;&nbsp;</td><td>2015:</td><td>&nbsp;</td><td>{{canton.total15_w12}}</td><td>&nbsp;</td><td>{{ canton.diff15_w12|floatformat:2 }} %</td></tr>\
                   <tr><td>&#8709; 15-19:</td><td>&nbsp;</td><td>{{canton.total_avg|floatformat:0}}</td><td>&nbsp;</td><td>{{ canton.diff_avg|floatformat:2 }} %</td><td>&nbsp;&nbsp;</td><td>&#8709; 15-19:</td><td>&nbsp;</td><td>{{canton.total_avg_w12|floatformat:0}}</td><td>&nbsp;</td><td>{{ canton.diff_avg_w12|floatformat:2 }} %</td></tr>\
                  </table>\
              </td>\
                </tr></table><hr>'


                content.appendChild(div);
                drawLineChart('{{canton.all20}}', '{{canton.all21}}', '{{canton.all_avg}}', '{{canton.all15}}', '{{canton.all19}}', '{{canton.canton.name}}', '{{canton.canton.code}}')

          {% endfor %}




      });
  </script>
    {% endblock %}


    {% block styles %}
	<style>
  .chart-container {
      width: 1000px;
      height:500px
  }

	</style>
    {% endblock %}

{% block title_header %}CovidLaws // Todesfälle pro Kanton{% endblock %}
{% block description %}XXX{% endblock %}
{% block title %}CovidLaws // Todesfälle pro Kanton{% endblock %}
{% block content %}



    <h1>Todesfälle pro Kanton</h1>
          <p>Die Zahlen sind provisorisch und werden jeden Dienstag nachgeführt. &Uuml;blicherweise erhöhen sich die letzten beiden Wochen noch, daher sind sie gestrichelt, aber in den Summen enthalten. </p>
          <p>Neben dem Vergleich mit den Ganzjahreswerten ist noch der Vergleich ab Woche 12 aufgeführt.<br>Der Vergleich mit dem ganzen Jahr ist insofern willkürlich, da es ja zu Beginn des Jahres noch kein Corona in der Schweiz gab.<br> In Woche 12 hatte die Schweiz erstmals >50 Covid-Tote gemeldet.</p>
          <p>Achtung: in den Zahlen ist das Bevölkerunggrösse nicht einberechnet (Wachstum Schweiz von 2015 bis 2019: ca. 3,7%).</p>
          <p>Quelle: <a href="https://www.bfs.admin.ch/bfs/de/home/statistiken/bevoelkerung/geburten-todesfaelle/todesfaelle.html">BFS</a></p>


    <div id="content"></div>




{% endblock %}
