{% extends "base.html" %}
{% load static i18n %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/deaths.js' %}"></script>
  <script>
          $(window).on('load', function() {

          {% for country in countries %}
                var content = document.getElementById('content');
                var div = document.createElement('div');
                div.id = '{{country.country.code}}' + 'Chart';

                diff20_11_32 = ({{country.now20_11_32}} * 100 / {{country.avg20_11_32}}) - 100
                diff20_33_53 = ({{country.now20_33_53}} * 100 / {{country.avg20_33_53}}) - 100
                diff21_1_25 = ({{country.now21_1_25}} * 100 / {{country.avg21_1_25}}) - 100
                diff_all = ({{country.all_num}} * 100 / {{country.all_avg}}) - 100


                innerHTML = '<div style="height: 500px"><canvas id="'+ '{{country.country.code}}' +'deathChart"></canvas></div><br>'
                innerHTML += '<table class="ui celled table">'
                innerHTML += '<tr><td><b>Week 11 - 32 // 2020</b></td><td>2020: {{country.now20_11_32}}</td><td>Average 15-19: {{country.avg20_11_32}}</td><td>' + diff20_11_32.toFixed(1) + '%</td></tr>'
                innerHTML += '<tr><td><b>Week 33 - 53 // 2020</b></td><td>2020: {{country.now20_33_53}}</td><td>Average 15-19: {{country.avg20_33_53}}</td><td>' + diff20_33_53.toFixed(1) + '%</td></tr>'
                innerHTML += '<tr><td><b>Week 1 - 25 // 2021</b></td><td>2021: {{country.now21_1_25}}</td><td>Average 15-19: {{country.avg21_1_25}}</td><td>' + diff21_1_25.toFixed(1) + '%</td></tr>'
                {% if country.last_week %}
                  innerHTML += '<tr><td><b>Week 11/20 - Week {{country.last_week}}/21 </b></td><td>2020/21: {{country.all_num}}</td><td>Average 15-19: {{country.all_avg}}</td><td>' + diff_all.toFixed(1) + '%</td></tr>'
                {% endif %}
                innerHTML += '</table><br><br>'

                div.innerHTML = innerHTML;

                content.appendChild(div);
                drawLineChart('{{country.country.average_death_per_day_peak}}', {{country.week_values_avg}}, {{country.all}}, {{country.covid20}}, {{country.all_peak}}, {{country.avg_and_covid}}, '{{country.country.name}}', '{{country.country.code}}', '{{country.country.avg_desc}}', '{{country.country.avg_peak_desc}}', '{{country.country.peak_year}}')

          {% endfor %}




      });
  </script>
{% endblock %}

{% block styles %}
	<style>
	</style>
{% endblock %}

{% block title_header %}CovidLaws // COVID-19 and other deaths{% endblock %}
{% block description %}XXX{% endblock %}
{% block title %}COVID-19 and other deaths{% endblock %}
{% block content %}

    <h2>How to interpret</h2>
    The following data is compared on this site:
    <ul>
      <li>Deaths (all causes) - blue line</li>
      <li>Official deaths Covid-19 - orange line</li>
      <li>Average deaths 2015-2019 - green line</li>
      <li>Week with the highest death number (usually record week from the past 5 years) - red line.</li>
      <li>The year 2015 (in most countries the year with the highest mortality in the past years) - light blue line</li>
      <li>Average deaths 2015-2019 and official deaths Covid-19 - to recognize pattern of possible underreporting - yellow dotted line</li>

    </ul>
    <p>Usually, the death excess is calculated with the expected deaths in a time period as base. To simplify, the average of the past years is taken as a comparison. This does not into acount the seasonal fluctuation, but it's easier to compare between countries.</p>
          <p>The other line with the record week is to set the current numbers into relation. To say it simply: when the 2020 numbers are way off the record or over a longer time, then there was a serious problem.</p>
          <p>Last but not least, there is more to look at in this pandemic as just the deaths. Also those who survived had to be saved by people working hard over long periods. And not everybody who comes out of this alive is healthy like nothing happened.</p>
          <p><b>Please note: the most recent two or three weeks are in many countries incomplete!</b></p>
          Source: Eurostat, except Switzerland: <a href="https://www.bfs.admin.ch/bfs/de/home/statistiken/bevoelkerung/geburten-todesfaelle/todesfaelle.html">BfS</a><br>
          Currently no updates for Israel and UK.
<!--
          <h2>Regionality of the pandemic</h2>
    <p>When it comes to Covid-19 deaths, in most cases the overall deaths nationwide are compared. This can be misleading, as in spring the pandemic was regional. This was widely discussed about Italy, where the north was heavily affected while in the south the death toll was low.</p>
    <p>But the same is true for most countries. People reduced their movement, hindering the spread of the virus through the country. So if the death rates of spring are compared to other years, this regionality has to be taken into account. </p>
    <h3>Sweden</h3>
    <p>Sweden is the well known outlier when it comes to measures. End of week 13, gatherings were limited to 50 people. There limitations on travel inside of Sweden, but in general the measures where just recommendation.</p>
    <p>For spring, there are big differences between the regions, The west of Sweden was much less affected, Stockholm on the other hand was hard with more then twice as many deaths compared to the 2015-2019 average in the time from week 14 to 17.</p>
          <p>The interesting thing with Sweden is that the numbers decline. There are possible explanations: less traveling, behaviour of the population, better protection of the vulnerable. In week 24, the long school holidays started. Many people go on the countryside in summer, which results in much less contact. And there is still the topic of the seasonality.</p>
          <p>Examples: Stockholm, Uppsala, Västra Götland (with the city of Gothenburg), Skåne (with the city of Malmö)</p>
<img src="/static/images/graphs_deaths/stockholm.png">
<img src="/static/images/graphs_deaths/uppsala.png">
<img src="/static/images/graphs_deaths/gotaland.png">
    <img src="/static/images/graphs_deaths/skane.png">
    <h3>Switzerland</h3>
    <p>In spring, the west and south of Switzerland were much more affected then the rest of the country. The incidence rates were about four times higher in these regions compared to the north-east.</p>

    <p>In week 11, the country went into a slowdown (Shops, cultural venues, schools etc. closed, gathering restriction of 5 people). This also slowed down the spread inside the regions.</p>

          <p>In week 13, the incidence rates per 100k population (past 14 days) was like this:</p>
    <p><img src="/static/images/graphs_deaths/30_03_ch_incidence.png"></p>
    <p>In week 14, the highest peak in mortality was reached - slightly higher then Week 7 of 2015. But the death toll was, as expected, not evenly distributed in the country. While in Bern and Zurich the overall death numbers look "normal", they were much higher for example in Ticino, Geneva or Vaud.</p>
    <img src="/static/images/graphs_deaths/ticino.png">
<img src="/static/images/graphs_deaths/geneva.png">
<img src="/static/images/graphs_deaths/zurich.png">
    <img src="/static/images/graphs_deaths/bern.png">

    <h2>Numbers by country</h2>
          <p>As mentioned above, keep the following in mind:
          <ul>
          <li>The pandemic was regional in spring.</li>
          <li>Measures resulted in a fast decline in case and therefore death numbers.</li>
          <li>Not affected regions were protected due the heavy reduction of travels and/or measures.</li>
          <li>Countries have different time frames on how and when to report a death.</li>
        </ul></p>
    <p>Raw death numbers compared with averages and peaks.</p>
    <p>Numbers for 2020 are provisional. To calculate the differences, the last two weeks are ignored because they are in many countries superprovisional.</p>
-->

    <div id="content"></div>
    </div>

{% endblock %}
