{% load static i18n %}
{% load static %}
{# Load the tag library #}

<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>CovidLaws // Coronavirus measures by canton - Canton profile</title>
        <meta name="description" content="Collection of measures/restrictions/policies enacted in the fight against the corona-virus/covid-19 pandemic by country. Visualized as timeline and map (Europe).">
       <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/3.js" site="EWPICMYO"></script>
    <!-- / Fathom -->

    <script
  type="text/javascript"
  src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"
></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/card.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

       <link href="{% static 'css/project.css' %}" rel="stylesheet">
       <link href="{% static 'css/timeline.css' %}" rel="stylesheet">
        <script type="text/javascript" src="{% static 'js/chartjs-plugin-annotation.js' %}"></script>

       <script type="text/javascript" src="{% static 'js/project.js' %}"></script>
       <script type="text/javascript" src="{% static 'js/district.js' %}"></script>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
	<style>
		html, body {
			height: 100%;
			margin: 0;
		}
		#map {
			width: 600px;
			height: 400px;
		}
	</style>

	<style>#map { width: 800px; height: 700px; }
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }</style>


  </head>
  <body bgcolor="black">


<div style="margin-left: 30;margin-top: 30;margin-right: 30;">


      <h1>CovidLaws // Switzerland //  Districts</h1>
      <div id="param" type="hidden" value={{ item.pk }}>{{ item.pk }}</div>
      <div id="menu"></div>


  <p id="grande">Incidence per 100k/past 14 days</p>


  <div class="ui active dimmer" id="dimmer">
    <div class="ui text loader">Loading</div>
  </div>
        <div align="center">
          <div id='mapDistricts'  style="height: 600px; width: 100%;"></div>
        </div>
  <p>
  <h3>Sources</h3>
  Cantons, ZH Districts: <a href="https://opendata.swiss/de/dataset/covid_19-fallzahlen-kanton-zuerich" target="_blank">OpenData ZH</a><br>
  Districts SG: <a href="https://www.sg.ch/tools/informationen-coronavirus.html" target="_blank">Kanton St. Gallen</a>
  </p>
  <p>
  Thanks to <a href="https://twitter.com/daniel_passport" target="_blank">@daniel_passport</a> for the assistance.
  </p>
  </body>
</html>





