{% extends "base.html" %}
{% load static i18n %}

{% block scripts %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

    <script type="text/javascript" src="{% static 'js/geojson/switzerland_districts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/district.js' %}"></script>

{% endblock %}
{% block styles %}
	<style>
		#map {
			width: 600px;
			height: 400px;

      .map_center{
      text-align:center;
      }
		}
	</style>

	<style>#map { width: 800px; height: 700px; }
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }</style>

{% endblock %}

{% block title_header %}CovidLaws // Öffnungs-o-meter{% endblock %}
{% block description %}Öffnungs-o-meter{% endblock %}
{% block content %}
   <div align="center">
     <h2>Öffnungs-o-meter</h2>
     <p>
           <img src="/static/images/clock/{{value}}.png">
     </p>

     <table class="ui celled table">
       <tr  class="center aligned">
         {% if hosp_quota < 25 %}
           <td class="positive">
         {% else %}
           <td class="negative">
         {% endif %}
           Anteil Covid-Patienten an Gesamtkapazität IPS < 25%
         </td>
       </tr>
       <tr  class="center aligned">
         <td>
          Covid-Patienten in IPS: {{hosp_cov19_patients}} // Gesamtkapazität IPS: {{hosp_capacity}} // Quote: {{hosp_quota|floatformat:1}} // Stand: {{hosp_date}}
         </td>
       </tr>
     </table>

     <table class="ui celled table">
       <tr  class="center aligned">
         {% if positivity < 5 %}
           <td class="positive">
         {% else %}
           <td class="negative">
         {% endif %}
           Positivitätsrate < 5%
         </td>
       </tr>
       <tr  class="center aligned">
         <td>
          Positivitätsrate: {{positivity}}% // Stand: {{positivity_date}}
         </td>
       </tr>
     </table>

          <table class="ui celled table">
       <tr  class="center aligned">
         {% if r_okay %}
           <td class="positive" colspan="5">
         {% else %}
           <td class="negative" colspan="5">
         {% endif %}

           Letzten 5 R-Werte unter 1
         </td>
       </tr>
       <tr  class="center aligned">
         <td>
        {{r1_date}}: {{r1_value}}
           </td>
         <td>
        {{r2_date}}: {{r2_value}}
           </td>
         <td>
        {{r3_date}}: {{r3_value}}
           </td>
         <td>
        {{r4_date}}: {{r4_value}}
           </td>
         <td>
        {{r5_date}}: {{r5_value}}
           </td>
         </td>
       </tr>
     </table>

               <table class="ui celled table" width="500px">
       <tr  class="center aligned">
         {% if incidence_mar1 >=  incidence_latest%}
           <td class="positive">
         {% else %}
           <td class="negative">
         {% endif %}
           14-Tage Inzidenz unter Wert 1. März
         </td>
       </tr>
       <tr  class="center aligned">
         <td>
           Wert 1. März: {{incidence_mar1}} // Wert Aktuell: {{incidence_latest}} // Stand: {{incidence_latest_date}}
           </td>
       </tr>
     </table>

   </div>

{% endblock %}





