{% load static i18n %}
{% load static %}

<html>
 <head>
   <title>Covid/Coronavirus measures by country - Europe map</title>
       <meta name="description" content="Collection of measures/restrictions/policies enacted in the fight against the corona-virus/covid-19 pandemic by country. Visualized as timeline and map (Europe).">
       <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


    <script type="text/javascript" src="{% static 'js/project.js' %}"></script>
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/3.js" site="EWPICMYO"></script>
    <!-- / Fathom -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js"></script>

    <!-- Map -->
    <script src="{% static 'js/map-config.js'%}"></script>
    <link href="{% static 'css/project.css' %}" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

	<style>
		html, body {
			height: 100%;
			margin: 0;
		}
		#map {
			width: 600px;
			height: 400px;
		}
	</style>

	<style>#map { width: 800px; height: 700px; }
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }</style>

 </head>
<body>
<div style="margin-left: 30;margin-top: 30;margin-bottom: 110">
      <h1>CovidLaws // Map Europe</h1>
      <div id="param" type="hidden" value={{ item.pk }}>{{ item.pk }}</div>
      <div id="menu"></div>

      <div class="ui placeholder segment">
        <div class="ui three column stackable center aligned grid">
          <div class="middle aligned row">
            <div class="column">

              <div class="ui fluid search selection dropdown" id="measurechooser">
                  <input type="hidden" name="countries">
                  <i class="dropdown icon"></i>
                  <div class="default text">Countries</div>
                  <div class="menu" id="countries_list">
                </div>
              </div>
            </div>
            <div class="column">
                 <input style="height:60px" type="date" id="dateselect" value="2020-06-01">
            </div>
          </div>
        </div>
      </div>

      <div align="center">
                <div class="ui animated button" tabindex="0" id="btnCopyLink">
          <div class="visible content"><i class="copy icon"></i></div>
          <div class="hidden content">
            Copy link
          </div>
      </div>
          <h2>  <div id="chosen_options"></div>  </h2>
           <div id="legend"></div>
      </div>
  <br><br>
        <div align="center">
          <div id='map'></div>
        </div>

          <div class="ui placeholder segment">
        <div class="ui three column stackable center aligned grid">
             <div class="middle aligned row">

            <div class="column">
              <div class="ui vertical animated button" tabindex="0" id="btnMinusDays">
                <div class="hidden content">-3</div>
                <div class="visible content">
                  <i class="angle double left icon"></i>
                </div>
              </div>

              <div class="ui vertical animated button" tabindex="0" id="btnPlusDays">
                <div class="hidden content">+3</div>
                <div class="visible content">
                  <i class="angle double right icon"></i>
                </div>
              </div>

              <div class="ui vertical animated button" tabindex="0" id="btnPlay">
                <div class="hidden content">Play</div>
                <div class="visible content">
                  <i class="play icon"></i>
                </div>
              </div>

            </div>
          </div>
        </div></div>
</div>

</body>

</html>
