{% extends "base.html" %}
{% load static i18n %}

    {% block scripts %}
    {% endblock %}

    {% block styles %}
	<style>
  table, th, td {
    padding: 10px;
    font-size: 18;
  }
  table.center {
    margin-left: auto;
    margin-right: auto;
  }
		.peak {
		      text-align: center;
        font-size: 10;

		}

    .container {
      position: relative;
      text-align: center;
      color: white;
      }
      /* Centered text */
      .centered {
        position: absolute;
        color: black;
        font-size: 18;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
       .bottomed {
        position: absolute;
        color: black;
        font-size: 10;
        bottom: 1px;
        left: 50%;
        transform: translate(-50%, -50%);
      }
  </style>
    {% endblock %}

{% block title_header %}CovidLaws // Europe rankings{% endblock %}
{% block description %}CovidLaws // Europe rankings{% endblock %}
{% block title %}Europe Covid Ranking{% endblock %}
{% block content %}
    Don't take this too serious. It's the internet.
    <br><br>
    <p>Rank and Score are compared to 7 days ago. The lower the better.</p>
    <p>Graphs show development in the past 2 months.</p>
    <p>It's very critical to compare data between countries, as they use different counting methods, different testing rules etc. etc.<br>
      Also, this pandemic is regional, there is a huge size difference between the countries.<br>
    Nonetheless I decided to create a ranking system because I realized that I didn't notice when the situation was changing in other countries.<br>
    So with the help of this list I hope it's easier to see what's currently going on in Europe.</p>

    <p id="grande"><a href="/ranking_europe">Ranking Europe</a> // <a href="/ranking_world">Ranking World</a></p>

    <p id="grande">Click on table headers to sort.</p>

<div style="overflow-x:auto;">
 <table class="ui celled table" id="ranking" width="100%">
<thead>
    <tr><th>Rank</th><th>Trend</th><th>Country</th><th onclick="sortTable(3,'ranking')">Score</th><th onclick="sortTable(4,'ranking')">Pos. Tests per 100k<br>Last 14 days</th><th onclick="sortTable(5,'ranking')">Deaths per 100k<br>Last 14 days</th><th onclick="sortTable(6,'ranking')">Positive rate<br>7 days avg. @ Date</th><th onclick="sortTable(7,'ranking')">{% trans 'Tendency cases<br>Week/Prev. week'%}</th><th onclick="sortTable(8,'ranking')">R median</th><th onclick="sortTable(9,'ranking')">Stringency index</th></tr>
    {% for hans in countries %}
</thead>
   <tbody>
    <tr>

      <td>
        <b>{{ hans.rank }}</b>
      </td>
      <td>
        <i class="{{ hans.rank_icon }} icon"></i>
        {{ hans.rank_diff }}
      </td>
      <td>
        <b>{{ hans.name }}</b>
        <a href="/country/{{hans.code}}"><i class="info circle icon"></i></a>
      </td>
      <td>
        <div hidden>{{ hans.score }}</div>
        <b>{{ hans.score }} <i class="{{ hans.icon }} icon"></i></b>
      </td>
      <td>
        <div hidden>{{ hans.cur_prev14 }}</div>

        <div class="container">
          <img src=/static/images/graphs_world/{{ hans.code  }}_cases.png>
          <div class="centered">{{ hans.cur_prev14 }}</div>
        </div>
        <div class="peak">All time peak: {{ hans.peak_cases }}<br>
        {{ hans.peak_cases_date }}</div>
      </td>
      <td>
         <div hidden>{{ hans.deaths }}</div>

        <div class="container">
        <img src=/static/images/graphs_world/{{ hans.code  }}_deaths.png>
          <div class="centered">{{ hans.deaths }}</div>
        </div>
        <div class="peak">All time peak: {{ hans.peak_deaths }}<br>
        {{ hans.peak_deaths_date }}</div>
       </td>
      {% if hans.positivity < 5 %}
            <td class="positive">
      {% else %}
            <td class="negative">
      {% endif %}
        <div hidden>{{ hans.positivity|floatformat:1 }}</div>

        {% if hans.positivity != None %}
          <div class="container">
            <img src=/static/images/graphs_world/{{ hans.code  }}_positivity.png>
            <div class="centered">{{ hans.positivity|floatformat:1 }}%</div>
            <div class="bottomed">{{ hans.positivity_date }}</div>
          </div>
        <div class="peak">All time peak: {{ hans.peak_positivity|floatformat:1 }}<br>
        {{ hans.peak_positivity_date }}</div>

        {% endif %}
      </td>
      {% if hans.tendency < 0 %}
            <td class="positive">
      {% else %}
            <td class="negative">
      {% endif %}
        <div hidden>{{ hans.tendency|floatformat:1 }}</div>
        <div class="container">
            <div class="centered">
        {{ hans.tendency|stringformat:"+.1f" }}%
            </div>
        </div>
      </td>
      {% if hans.R < 1 %}
            <td class="positive" nowrap>
      {% else %}
            <td class="negative" nowrap>
      {% endif %}
       <div hidden>{{ hans.R|floatformat:2 }}</div>
        <div class="container">
            <div class="centered">{{ hans.R|floatformat:2 }}<br><font size=1px>{{ hans.R_date }}</font></div>
        </div>
      </td>
      <td nowrap>

       <div hidden>{{ hans.stringency|floatformat:2 }}</div>
                              {% if hans.stringency != None %}

        <div class="container">
            <img src=/static/images/graphs_world/{{ hans.code  }}_stringency.png>
            <div class="centered">{{ hans.stringency|floatformat:2 }}<br><font size=1px>{{ hans.stringency_date }}</font></div>
        </div>
              {% endif %}

      </td>
    </tr>
    {% endfor %}
   </tbody>
  </table>
</div>

<br><br>
   <table>
    <tr>
      <td>
  <b>Score</b><br>
  Following numbers are summed up to calculate the score:      </td>
    </tr>
    <tr>
      <td>
        [Cases per 100k/past 14 days]
      </td>
    </tr>
    <tr>
      <td>
        [Cases per 100k/past 7 days]
      </td>
    </tr>
    <tr>
      <td>
        [Deaths per 100k/past 14 days * 20]
      </td>
    </tr>
    <tr>
      <td>
        [Average positive rate past 7 days] * [Cases per 100k/past 14 days] /50 (If no positive rate is available, the value of 5% is used.)
      </td>
    </tr>
    <tr>
      <td>
        [Tendency in % (Cases past week compared to week before)] * [Cases per 100k/past 14 days] /100
      </td>
    </tr>

  </table>

      <p>Why this formula? Nothing scientific, I just tried to make a balanced score, taking into account the number of cases, trend in cases, death rates and if there are enough tests performed (by using positive rate).<br>
      Feel free to contact my if you have a suggestion: d.berger@dontsniff.co.uk</p>

      <p>
      <b>Sources</b><br>
         Cases/Deaths: <a href="https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series">J. Hopkins University</a><br>
        Positive rate: <a href="https://ourworldindata.org/coronavirus-testing" target="_blank">Our World in data</a><br>
        Reproduction Rate R: <a href="https://github.com/covid-19-Re/dailyRe-Data" target="_blank">ETH Zurich</a><br>
          <p>Stringency Index: <a href="https://www.bsg.ox.ac.uk/research/research-projects/coronavirus-government-response-tracker">Oxford Covid-19 Government Response Tracker</a>
      </p>
      </div>
{% endblock %}
