{% extends "base.html" %}
{% load static i18n %}
{% load humanize %}

    {% block scripts %}
    <script>
        function searchTable() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("ranking");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[3];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1 || i == 0)  {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
    function showpopup(dialogid)
    {
          console.log("sdgfsdfg");
          $( "#"+dialogid ).dialog();
    }

    $( document ).ready(function() {

     $('.sample-container .ui.icon.button')
      .popup({
        on: 'hover'
      });


      $('.activating.element')
  .popup()
;
});
    </script>
    {% endblock %}

    {% block styles %}
	<style>
#myInput {
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}
	.ui-widget-header {
font-size: 16px; }

table, th, td {
  padding: 10px;
  font-size: 18;

}
table.center {
  margin-left: auto;
  margin-right: auto;
}

		html, body {
			height: 100%;
			margin: 0;
		}

		    .container {
      position: relative;
      text-align: center;
      color: white;
      }
      /* Centered text */
      .centered {
        position: absolute;
        color: black;
        font-size: 18;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
            .centered_green {
        position: absolute;
        color: green;
        font-size: 15;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
	</style>

    {% endblock %}

{% block title_header %}CovidLaws // {% trans 'Canton rankings' %}{% endblock %}
{% block description %}CovidLaws // {% trans 'Canton rankings' %}{% endblock %}
{% block title %}{% trans 'Canton rankings' %}{% endblock %}
{% block content %}
    <p id="grande"><a href="/ranking7">{% trans 'Ranking 7 days' %}</a> // <a href="/ranking14">{% trans 'Ranking 14 days'%}</a>  // <a href="/ranking7all">{% trans 'Ranking 7 days Cantons & Districts' %}</a> // <a href="/ranking14all">{% trans 'Ranking 14 days Cantons & Districts'%}</a></p>
    <p id="grande">{% trans 'You can follow the Bot on' %} <a href="https://twitter.com/CovidlawsStats">Twitter</a> {% trans 'or' %} <a href="https://t.me/covidlaws">Telegram</a> {% trans 'for updates on district data.' %}</p>
    <p id="grande">{% trans 'Graphs show development in the past 2 months.'%} {% trans 'For last update see date in graph.' %}</p>
   </p>
    <p id="grande">{% trans 'Source for incidence are cantonal data, not BAG. Values can differ from official values.' %} {% trans 'Values always 2 days or older (too many errors in most recent numbers).' %}</p>
  <input type="text" id="myInput" onkeyup="searchTable()" placeholder="{% trans 'Filter table (e.g. (ZH) for all Zurich districts)' %}">

<div style="overflow-x:auto;">
  <table class="ui celled table" id="ranking">
    <tr><th></th><th onclick="sortTable(1,'ranking')">{% trans 'Rank'%}</th>
      <th>{% trans 'Shift'%}</th>
      <th>{% trans 'Canton'%}/{% trans 'District'%}</th>
      <th align="center" onclick="sortTable(4,'ranking')">{% trans 'Prevalence 7d/100k'%}</th>
      <th onclick="sortTable(5,'ranking')">{% trans 'Tendency cases<br>Week over week'%}</th>
      <th onclick="sortTable(6, 'ranking')" nowrap>{% trans 'R median'%}</th>
      <th onclick="sortTable(7, 'ranking')" nowrap>{% trans 'Vacc. per 100k<br>Past 7 days'%}</th>
      <th onclick="sortTable(8, 'ranking')" nowrap>{% trans 'Vacc. per 100k<br>goal per week'%}*</th>


     <!-- <th>{% trans 'Measures'%}</th> -->
    </tr>
    {% for hans in cantons %}

    <tr >
      <td>
        <img src=/static/images/flags_ch/{{ hans.code  }}_circle.png>
      </td>
      <td>
        <div hidden>{{ hans.rank }}</div>

        {{ hans.rank }}
      </td>
      <td>
        <i class="{{ hans.rank_icon }} icon"></i>
        {{ hans.rank_diff }}
      </td>
      <td>

        <b>{{ hans.name }}</b>
      </td>

     {% if hans.incidence_below_ch %}
     <td class="positive">
     {% else %}
     <td>
     {% endif%}

        <div hidden>{{ hans.cur_prev }}</div>
       {% if "(BE)" in hans.name %}
                 <div class="container">
               <div class="centered">{{ hans.cur_prev }}<br><font size=2px>     {{ hans.date }}</font></div>
                 </div>
        {% else %}
        <div class="container">
            {% if hans.level == 0 %}
              <img src=/static/images/graphs_ch/{{ hans.code  }}_7.png>
            {% else %}
              <img src=/static/images/graphs_ch/{{ hans.id  }}_7.png>
            {% endif %}
               <div class="centered">{{ hans.cur_prev }}<br><font size=2px>     {{ hans.date }}</font></div>
       {% endif%}
        </div>

      </td>
      {% if hans.tendency < 0 %}
            <td class="positive">
      {% else %}
            <td class="negative">
      {% endif %}
        <div hidden>{{ hans.tendency|floatformat:1 }}</div>
        <div class="container">
          <div class="centered">
            {{ hans.tendency|stringformat:"+.1f" }}%
          </div>
        </div>
      </td>

          {% if hans.r_under_one and hans.r0 %}
            <td class="positive" nowrap>
          {% else %}
            <td nowrap>
           {% endif %}
        <div hidden>{{ hans.r0 }}</div>
        {% if hans.level == 0 and hans.code != 'fl' %}
          <div class="container">
            <div class="centered">
              {{ hans.r0|floatformat:2 }}<br><font size=2px>{{ hans.r0_date }}</font>
            </div>
          </div>
        {% endif %}
      </td>

      <td nowrap>

        <div hidden>{{ hans.vacc }}</div>
        {% if hans.level == 0 %}
          <div class="container">
            <div class="centered">
              {{ hans.vacc|floatformat:0|intcomma }}<br><font size=2px>{{ hans.vacc_date }}</font>
            </div>
          </div>
        {% endif %}
      </td>
      <td>
        <div hidden>{{ hans.vacc_goal }}</div>
        {% if hans.level == 0 %}
          <div class="container">
            <div class="centered">
              {{ hans.vacc_goal|floatformat:0|intcomma }}
            </div>
          </div>
        {% endif %}
      </td>
  <!--    <td>
                <div class="sample-container">

        {% for measure in hans.measures %}
            {% if measure.level != 0 %}
              <div class="ui icon button"  data-html="<b>{{measure.type.name}}</b><br>{{measure.comment}}" onclick="showpopup('dialog{{ hans.code  }}{{measure.type.id}}')">
                    {% if measure.level > 2 %}
              <i class="{{ measure.type.icon }} red" data-html="<b>{{measure.type.name}}</b><br>{{measure.comment}}" ></i>
                    {% elif measure.level > 0 %}
              <i class="{{ measure.type.icon }} orange" data-html="<b>{{measure.type.name}}</b><br>{{measure.comment}}" ></i>
                {% elif measure.level < 0 %}
                <i class="{{ measure.type.icon }} green" data-html="<b>{{measure.type.name}}</b><br>{{measure.comment}}" ></i>
                    {% endif %}

              </div>
              <div id="dialog{{ hans.code  }}{{measure.type.id}}" title={{hans.code|upper}}:&nbsp;{{measure.type.name}} style="display: none;">
                <div style="font-size:25px;">

                {% autoescape off %}
                  {{measure.comment}}
                {% endautoescape %}
                <p>Start: {{measure.start}}<br>
                End: {{measure.end}}</p>
                {% if measure.sources != "" %}
                  <p><a href='{{measure.sources}}' target="_blank">Source</a></p>
                {% endif %}
                </div>

              </div>
            {% endif %}
        {% endfor %}
        </div>

      </td> -->
    </tr>
    {% endfor %}
  </table>
</div>
  <br>
  <p id="grande">
    *{% trans 'How man vaccinations per week are needed to vaccinate 60% of the population twice (already infected once) until end of July.'%}<br>
    Formula: 100000 * [ ((population * 0.6) * 2 - total_vaccinations) - (population / 100 * 6.5) ] / population<br>

  {% trans 'Source cases: <a href="https://github.com/openZH/covid_19" target="_blank">OpenData ZH</a> and others, see <a href="/districts">here for more information.</a>'%}<br>
  {% trans 'Source R<sub>e</sub>: <a href="https://github.com/covid-19-Re/dailyRe-Data" target="_blank">ETH Zurich</a><br>'%}
    {% trans 'Source Vaccinations: <a href="https://www.covid19.admin.ch/api/data/context" target="_blank">BAG</a><br>'%}
  </p>
  </div>

{% endblock %}
