{% extends "base.html" %}
{% load static i18n %}

    {% block scripts %}
    <script>
        function searchTable() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("ranking");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[3];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1 || i == 0)  {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
    function showpopup(dialogid)
    {
          console.log("sdgfsdfg");
          $( "#"+dialogid ).dialog();
    }

    $( document ).ready(function() {

     $('.sample-container .ui.icon.button')
      .popup({
        on: 'hover'
      });


      $('.activating.element')
  .popup()
;
});
    </script>
    {% endblock %}

    {% block styles %}
	<style>
#myInput {
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}
	.ui-widget-header {
font-size: 16px; }

table, th, td {
  padding: 10px;
  font-size: 18;

}
table.center {
  margin-left: auto;
  margin-right: auto;
}

		    .container {
      position: relative;
      text-align: center;
      color: white;
      }
      /* Centered text */
      .centered {
        position: absolute;
        color: black;
        font-size: 18;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
            .centered_green {
        position: absolute;
        color: green;
        font-size: 15;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
	</style>

    {% endblock %}

{% block title_header %}CovidLaws // {% trans 'Swiss Covid Ranking 14 days' %}{% endblock %}
{% block description %}CovidLaws // {% trans 'Swiss Covid Ranking 14 days' %}{% endblock %}
{% block title %}{% trans 'Swiss Covid Ranking 14 days' %}{% endblock %}
{% block content %}
    <p id="grande"><a href="/ranking7">{% trans 'Ranking 7 days' %}</a> // <a href="/ranking14">{% trans 'Ranking 14 days'%}</a> // <a href="/ranking7all">{% trans 'Ranking 7 days Cantons & Districts' %}</a> // <a href="/ranking14all">{% trans 'Ranking 14 days Cantons & Districts'%}</a></p>
    <p id="grande">{% trans 'You can follow the Bot on' %} <a href="https://twitter.com/CovidlawsStats">Twitter</a> {% trans 'or' %} <a href="https://t.me/covidlaws">Telegram</a> {% trans 'for updates on district data.' %}</p>
    <p id="grande">{% trans 'Graphs show development in the past 2 months.' %} {% trans 'For last update see date in graph.' %}</p>

 <input type="text" id="myInput" onkeyup="searchTable()" placeholder="{% trans 'Filter table (e.g. (ZH) for all Zurich districts)' %}">

<div style="overflow-x:auto;">

  <table class="ui celled table" id="ranking">

    <tr><th></th><th onclick="sortTable(1,'ranking')">{% trans 'Rank'%}</th>
      <th>{% trans 'Shift'%}</th>
      <th>{% trans 'Canton'%}/{% trans 'District'%}</th>
      <th align="center" onclick="sortTable(4,'ranking')">{% trans 'Prevalence 14d/100k'%}</th>
      <th onclick="sortTable(5,'ranking')">{% trans 'Tendency cases<br>Week over week'%}</th>
      <th>{% trans 'Measures'%}</th>
    </tr>
    {% for hans in cantons %}
        {% if "(AG)" in hans.name %}
        {% else %}
    <tr>
      <td>
        <img src=/static/images/flags_ch/{{ hans.code  }}_circle.png>
      </td>
      <td>
        <div hidden>{{ hans.rank }}</div>
        {{ hans.rank }}
      </td>
      <td>
        <i class="{{ hans.rank_icon }} icon"></i>
        {{ hans.rank_diff }}
      </td>
      <td>
        <b>{{ hans.name }}</b>
      </td>
      <td>
          <div hidden>{{ hans.cur_prev }}</div>
        {% if "(AG)" in hans.name %}
                  <div class="container">
            <div class="centered">{{ hans.cur_prev }}<br><font size=2px>     {{ hans.date }}</font></div>
                  </div>
        {% else %}
          <div class="container">
            {% if hans.level == 0 %}
              <img src=/static/images/graphs_ch/{{ hans.code  }}_14.png>
            {% else %}
              <img src=/static/images/graphs_ch/{{ hans.id  }}_14.png>
            {% endif %}
            <div class="centered">{{ hans.cur_prev }}<br><font size=2px>     {{ hans.date }}</font></div>
          </div>
        {% endif %}
      </td>
      {% if hans.tendency < 0 %}
            <td class="positive">
      {% else %}
            <td class="negative">
      {% endif %}
        <div hidden>{{ hans.tendency|floatformat:1 }}</div>
        <div class="container">
            <div class="centered">
              {{ hans.tendency|stringformat:"+.1f" }}%
            </div>
        </div>
      </td>
      <td style="white-space: nowrap;">
                <div class="sample-container">

        {% for measure in hans.measures %}
          {% if measure.level != 0 %}
            <div class="ui icon button" data-html="<b>{{measure.type.name}}</b><br>{{measure.comment}}" onclick="showpopup('dialog{{ hans.code  }}{{measure.type.id}}')">
                  {% if measure.level > 2 %}
            <i class="{{ measure.type.icon }} red" data-html="<b>{{measure.type.name}}</b><br>{{measure.comment}}" ></i>
            {% elif measure.level > 0 %}
            <i class="{{ measure.type.icon }} orange" data-html="<b>{{measure.type.name}}</b><br>{{measure.comment}}" ></i>
              {% elif measure.level < 0 %}
              <i class="{{ measure.type.icon }} green" data-html="<b>{{measure.type.name}}</b><br>{{measure.comment}}" ></i>
                  {% endif %}
            </div>
            <div id="dialog{{ hans.code  }}{{measure.type.id}}" title={{hans.code|upper}}:&nbsp;{{measure.type.name}}  style="display: none;" >
              <div style="font-size:20px;">
              {% autoescape off %}
                {{measure.comment}}
              {% endautoescape %}
                {{measure.type.name}}
              <p>Start: {{measure.start}}<br>
               End: {{measure.end}}</p>
              {% if measure.sources != "" %}
                <p><a href='{{measure.sources}}' target="_blank">Source</a></p>
              {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
        </div>

      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>
  <br>
  <p id="grande">
  {% trans 'Source: <a href="https://github.com/openZH/covid_19" target="_blank">OpenData ZH</a> and others, see <a href="/districts">here for more information.</a>'%}<br>
  {% trans 'Source R<sub>e</sub>: <a href="https://github.com/covid-19-Re/dailyRe-Data" target="_blank">ETH Zurich</a><br>'%}


  </p>
{% endblock %}
