{% extends "base.html" %}
{% load static i18n %}

{% block scripts %}
{% endblock %}
<!-- Primary Meta Tags -->
<meta name="title" content="CovidLaws // Covidmeter 2">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://covidlaws.net/covidmeter//">
<meta property="og:title" content="CovidLaws // Covidmeter">
<meta property="og:description" content="Covidmeter">
<meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://covidlaws.net/covidmeter//">
<meta property="twitter:title" content="CovidLaws // Covidmeter">
<meta property="twitter:description" content="Covidmeter">
<meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
{% block styles %}
	<style>
		#map {
			width: 600px;
			height: 400px;

      .map_center{
      text-align:center;
      }
		}
		#circle-red {
            width: 180px;
            height: 180px;
            -webkit-border-radius: 90px;
            -moz-border-radius: 90px;
            border-radius: 90px;
            background: red;
         }
		#circle-yellow {
            width: 180px;
            height: 180px;
            -webkit-border-radius: 90px;
            -moz-border-radius: 90px;
            border-radius: 90px;
            background: #fbbd08;
         }
		#circle-orange {
            width: 180px;
            height: 180px;
            -webkit-border-radius: 90px;
            -moz-border-radius: 90px;
            border-radius: 90px;
            background: orange;
         }
		#circle-green {
            width: 180px;
            height: 180px;
            -webkit-border-radius: 90px;
            -moz-border-radius: 90px;
            border-radius: 90px;
            background: green;
         }
	</style>

	<style>#map { width: 800px; height: 700px; }
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }</style>

{% endblock %}

{% block title_header %}CovidLaws // {% trans 'Covidmeter' %} 2{% endblock %}
{% block description %}{% trans 'Covidmeter' %} 2.1{% endblock %}
{% block content %}
   <div align="center">
     <h2>{% trans 'Covidmeter-Index' %} 2.1</h2>
      {% if value < 8 %}
        <div id="circle-red">
          {% elif value < 15 %}
                <div id="circle-orange">
                            {% elif value < 19 %}
                <div id="circle-yellow">
                  {% else %}
                                  <div id="circle-green">
         {% endif %}


        <div style="padding: 30px 30px 0 30px;"><h1 style="color:White;font-size: 90px;">{{value}}</h1></div></div>
<h3>{{cur_date}}</h3>
                       <h3>                                    Max. value: 23
</h3>


     <table class="ui celled table">
                     <thead>

       <tr  class="center aligned">
          <th>
            {% if hosp_cov19_patients > 300 %}
                <i class="red circular inverted large heartbeat icon"></i>
            {% elif hosp_cov19_patients > 180 %}
                <i class="orange circular inverted large heartbeat icon"></i>
            {% elif hosp_cov19_patients > 50 %}
                <i class="yellow circular inverted large heartbeat icon"></i>
            {% elif hosp_cov19_patients > 25 %}
                <i class="yellow circular inverted large heartbeat icon"></i>
            {% else %}
                <i class="green circular inverted large heartbeat icon"></i>
            {% endif %}

           {% trans 'Covid patients in ICU' %}: {{hosp_cov19_patients}} ({{hosp_cov19_patients_7d}} {% if hosp_cov19_patients_7d > hosp_cov19_patients %} <i class="green arrow circle down icon"></i>{% else %} <i class="red arrow circle up icon"></i>{% endif %})
         </th>
       </tr>
                     </thead>

       <tr  class="center aligned">
         <td>
          15-{% trans 'days' %}-{% trans 'average' %} // {% trans 'Full capacity ICU' %}: {{hosp_capacity}} // {% trans 'Proportion' %}: {{hosp_quota|floatformat:1}} // {% trans 'Date' %}: {{hosp_date}}
         </td>
       </tr>
       <tr class="center aligned">
         <td style="font-size: 15px;"> >300: 0P, >180: 1P, >50: 2P, >25: 3P, <=25: 4P</td>
       </tr>
     </table>

          <table class="ui celled table">
                          <thead>

       <tr  class="center aligned">
          <th colspan="7">
            {% if hosp_average > 120 %}
                <i class="red circular inverted large hospital icon"></i>
            {% elif hosp_average > 80 %}
                <i class="orange circular inverted large hospital icon"></i>
            {% elif hosp_average > 50 %}
                <i class="orange circular inverted large hospital icon"></i>
            {% elif hosp_average > 5 %}
                <i class="yellow circular inverted large hospital icon"></i>
            {% else %}
                <i class="green circular inverted large hospital icon"></i>
            {% endif %}

           {% trans 'New hospital entries' %}: {{hosp_average|floatformat:1}} ({{hosp_average_7d|floatformat:1}} {% if hosp_average_7d > hosp_average %} <i class="green arrow circle down icon"></i> {% else %} <i class="red arrow circle up icon"></i> {% endif %})
         </th>
       </tr>
                     </thead>

              <tr  class="center aligned">
                <td colspan="7">
                  7-{% trans 'days' %}-{% trans 'average' %}
                </td>
              </tr>
       <tr  class="center aligned">
         <td>
        {{hosp1_date}}: {{hosp1_value|floatformat:0}}
           </td>
         <td>
        {{hosp2_date}}: {{hosp2_value|floatformat:0}}
           </td>
         <td>
        {{hosp3_date}}: {{hosp3_value|floatformat:0}}
           </td>
         <td>
        {{hosp4_date}}: {{hosp4_value|floatformat:0}}
           </td>
         <td>
        {{hosp5_date}}: {{hosp5_value|floatformat:0}}
           </td>
         <td>
        {{hosp6_date}}: {{hosp6_value|floatformat:0}}
           </td>
                  <td>
        {{hosp7_date}}: {{hosp7_value|floatformat:0}}
           </td>
         </td>
       </tr>
       <tr class="center aligned">
         <td style="font-size: 15px;" colspan="7"> >120: 0P, >80: 1P, >50: 2P, >20: 3P, >5: 4P, <=5: 5P</td>
       </tr>
     </table>

          <table class="ui celled table">
              <thead>
       <tr  class="center aligned">
          <th colspan="7">
            {% if r7_value > 1.15 %}
                <i class="red circular inverted large chart line icon"></i>
            {% elif r7_value > 1 %}
                <i class="orange circular inverted large chart line icon"></i>
            {% elif r7_value > 0.9 %}
                <i class="orange circular inverted large chart line icon"></i>
            {% else %}
                <i class="green circular inverted large chart line icon"></i>
            {% endif %}

            {% trans 'Most recent R value' %}: {{r7_value}} ({{r1_value}} {% if r1_value > r7_value %} <i class="green arrow circle down icon"></i>{% else %} <i class="red arrow circle up icon"></i>{% endif %})
         </th>
       </tr>
         </thead>
       <tr  class="center aligned">
         <td>
        {{r1_date}}: {{r1_value}}
           </td>
         <td>
        {{r2_date}}: {{r2_value}}
           </td>
         <td>
        {{r3_date}}: {{r3_value}}
           </td>
         <td>
        {{r4_date}}: {{r4_value}}
           </td>
         <td>
        {{r5_date}}: {{r5_value}}
           </td>
         <td>
        {{r6_date}}: {{r6_value}}
           </td>
                  <td>
        {{r7_date}}: {{r7_value}}
           </td>
         </td>
       </tr>
       <tr class="center aligned">
         <td style="font-size: 15px;" colspan="7"> >1.15: 0P, >1: 1P, >0.9: 2P, <=0.9: 3P</td>
       </tr>
     </table>

     <table class="ui celled table" width="500px">
                     <thead>

       <tr  class="center aligned">
          <th>
           {% if incidence_latest > 600 %}
                <i class="red circular inverted large chart bar icon"></i>
            {% elif incidence_latest > 400 %}
                <i class="orange circular inverted large chart bar icon"></i>
            {% elif incidence_latest > 250 %}
                <i class="orange circular inverted large chart bar icon"></i>
            {% elif incidence_latest > 100 %}
                <i class="yellow circular inverted large chart bar icon"></i>
            {% elif incidence_latest > 40 %}
                <i class="yellow circular inverted large chart bar icon"></i>
            {% else %}
                <i class="green circular inverted large chart bar icon"></i>
            {% endif %}

           {% trans 'Case Incidence' %}: {{incidence_latest}} ({{incidence_latest_7d}} {% if incidence_latest_7d > incidence_latest %} <i class="green arrow circle down icon"></i>{% else %} <i class="red arrow circle up icon"></i>{% endif %})
         </th>
       </tr>
                     </thead>

       <tr  class="center aligned">
         <td>
           {% trans 'Per 100k past 14 days.' %} // {% trans 'Date' %}: {{incidence_latest_date}}
           </td>
       </tr>
       <tr class="center aligned">
         <td style="font-size: 15px;"> >600: 0P, >400: 1P, >250: 2P, >100: 3P, >40: 4P, <=40: 5P</td>
       </tr>
     </table>

     <table class="ui celled table" width="500px">
                     <thead>

       <tr  class="center aligned">
          <th>
            {% if deaths_value > 100 %}
                <i class="red circular inverted large times circle icon"></i>
            {% elif deaths_value > 50 %}
                <i class="orange circular inverted large times circle icon"></i>
            {% elif deaths_value > 5 %}
                <i class="yellow circular inverted large times circle icon"></i>
            {% else %}
                <i class="green circular inverted large times circle icon"></i>
            {% endif %}

           {% trans 'Deaths' %}*: {{deaths_value|floatformat:0}} ({{deaths_value_7d|floatformat:0}} {% if deaths_value_7d > deaths_value %} <i class="green arrow circle down icon"></i>{% else %} <i class="red arrow circle up icon"></i>{% endif %})
         </th>
       </tr>
                     </thead>

       <tr  class="center aligned">
         <td>
           {% trans 'Total past 7 days.' %}  // {% trans 'Date' %}: {{incidence_latest_date}}
           </td>
       </tr>
              <tr class="center aligned">
         <td style="font-size: 15px;"> >100: 0P, >50: 1P, >20: 2P, >5: 3P, <=5: 4P</td>
       </tr>
     </table>

     <table class="ui celled table" width="500px">
                     <thead>

       <tr  class="center aligned">
          <th>
            {% if positivity > 5 %}
                <i class="red circular inverted large plus icon"></i>
            {% elif positivity > 2 %}
                <i class="orange circular inverted large plus icon"></i>
            {% else %}
                <i class="green circular inverted large plus icon"></i>
            {% endif %}
           {% trans 'Positivity rate' %}: {{positivity}} ({{positivity_7d}} {% if positivity_7d > positivity %} <i class="green arrow circle down icon"></i>{% else %} <i class="red arrow circle up icon"></i>{% endif %})
         </th>
       </tr>
                     </thead>

       <tr  class="center aligned">
         <td>
           {% trans 'Average past 7 days.' %}  // {% trans 'Date' %}: {{incidence_latest_date}}
           </td>
       </tr>
                     <tr class="center aligned">
         <td style="font-size: 15px;"> >5: 0P, >2: 1P,  <=2: 3P</td>
       </tr>
     </table>

       <table class="ui celled table" width="500px">
                       <thead>

       <tr  class="center aligned">
          <th>
            {% if vacc_value > 6000 %}
                <i class="green circular inverted large syringe icon"></i>
            {% elif vacc_value > 3000 %}
                <i class="yellow circular inverted large syringe icon"></i>
             {% elif vacc_value > 1600 %}
                <i class="orange circular inverted large syringe icon"></i>
            {% else %}
                <i class="red circular inverted large syringe icon"></i>
            {% endif %}
           {% trans 'Vaccination incidence' %}: {{vacc_value}} ({{vacc_value_7d}} {% if vacc_value_7d > vacc_value %} <i class="red arrow circle down icon"></i>{% else %} <i class="green arrow circle up icon"></i>{% endif %})
         </th>
       </tr>
                     </thead>

       <tr  class="center aligned">
         <td>
           {% trans 'Per 100k past 7 days.' %} // {% trans 'Date' %}: {{vacc_date}}
           </td>
       </tr>
                       <tr class="center aligned">
         <td style="font-size: 15px;">{% trans 'Does not count for scoring.' %}</td>
       </tr>
     </table>

    <br>
     {% trans 'Numbers in brackets: Value a week before current value.' %}&nbsp;
     {% trans 'Past and current values can change due updates.' %}
     <br>
* {% trans 'incl. late registrations.' %}
     {% trans 'Source data:' %} <a href="https://www.covid19.admin.ch/" target="_blank">{% trans 'FOPH' %}</a>
   </div>

{% endblock %}





