{% load static i18n %}
{% load static %}


<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>CovidLaws // Coronavirus measures by country - Compare</title>
        <meta name="description" content="Collection of measures/restrictions/policies enacted in the fight against the corona-virus/covid-19 pandemic by country. Visualized as timeline and map (Europe).">

   <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script type="text/javascript" src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js" ></script>


    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/3.js" site="EWPICMYO"></script>
    <!-- / Fathom -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js"></script>


       <link href="{% static 'css/project.css' %}" rel="stylesheet">
       <link href="{% static 'css/timeline.css' %}" rel="stylesheet">
       <script type="text/javascript" src="{% static 'js/project.js' %}"></script>
       <script type="text/javascript" src="{% static 'js/timeline_base.js' %}"></script>
       <script type="text/javascript" src="{% static 'js/timeline.js' %}"></script>

  </head>
  <body bgcolor="black">


<div style="margin-left: 30;margin-top: 30;margin-right: 30;">


      <h1>CovidLaws // Timeline</h1>
      <div id="param" type="hidden" value={{ items }}>{{ items }}</div>

      <div id="menu"></div>
  <p><b>Disclaimer</b>: currently, the following data is weak: schools, gathering restrictions, Germany, Russia</p>

      <div align="center">
                <div class="ui animated button" tabindex="0" id="btnCopyLink">
          <div class="visible content"><i class="copy icon"></i></div>
          <div class="hidden content">
            Copy link<br>
          </div>
      </div>
        <br><br>
      <div class="ui placeholder segment">
        <div class="ui two column stackable center aligned grid">
          <div class="ui vertical divider"></div>
          <div class="middle aligned row">
            <div class="column">
              <h2>Countries (empty=all)</h2>

                <div class="ui multiple fluid search selection dropdown" id="countries_dd">
                  <i class="large flag outline icon"></i>
                  <input type="hidden" name="countries">
                  <i class="dropdown icon"></i>
                  <div class="default text">Countries</div>
                  <div class="menu" id="countries_list">
                </div>
              </div>

            </div>
            <div class="column">
             <h2>Measures (empty=all)</h2>
                  <div class="ui multiple fluid search selection dropdown" id="measuretypes_dd">
                    <i class="large heartbeat icon"></i>
                    <input type="hidden" name="measuretypes">
                    <i class="dropdown icon"></i>
                    <div class="default text">Measure types</div>
                    <div class="menu">
                  </div>
                </div>
            </div>
          </div>
          <div class="ui divider"></div>
          <div class="middle aligned row">
            <div class="column">
              <div class="ui vertical animated large button" tabindex="0" id="load_data" style="width:200px">
                <div class="hidden content" >Load</div>
                <div class="visible content">
                  <i class="large arrow circle down icon"></i>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui vertical animated large button" tabindex="0" id="change_mode" style="width:200px">
                <div class="hidden content" id="loadtext">by country</div>
                <div class="visible content">
                  <i class="large exchange alternate icon"></i>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      </div>
      <br>

        <div id="bycountry" style="display:none"><h2>By country</h2></div>
        <div id="bymeasure" ><h2>By measure</h2></div>

         <p id="grande">
                * = end of measure undefined,
                # = regional<br>
                Dark: Full closure // Light: Partial closure/with restrictions // White: Revoked/Never introduced
        </p>
        <div id="timeline"></div>

           <div class="ui accordion">
            <div class="title active">
              <i class="dropdown icon"></i>
              <p id="grande"><b>Cases per 100k inhabitants/last 7 days</b></p>
            </div>
             <div id="legendperpop"></div>
            <div class="content active">
              <p class="transition visible">
                <div id="lineChartCasesPerPop"></div>
              <div id="datachartCasesMulti" style="height: 300px;">

            </div><br></p>
            </div>
          </div>
      </div>
  </body>
</html>




