{% load static i18n %}
{% load static %}


<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>CovidLaws // Coronavirus measures by country - Compare</title>
        <meta name="description" content="Collection of measures/restrictions/policies enacted in the fight against the corona-virus/covid-19 pandemic by country. Visualized as timeline and map (Europe).">

    <meta name="google-site-verification" content="hQ8G-HCPFQgyGYjjxJcseIc0Vxv1Fou_3HEMFCItEOA" />
    <script
			  src="https://code.jquery.com/jquery-3.5.1.min.js"
			  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
			  crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/3.js" site="EWPICMYO"></script>
    <!-- / Fathom -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js"></script>


       <link href="{% static 'css/project.css' %}" rel="stylesheet">
       <script type="text/javascript" src="{% static 'js/project.js' %}"></script>
       <script type="text/javascript" src="{% static 'js/timeline_base.js' %}"></script>
       <script type="text/javascript" src="{% static 'js/timeline.js' %}"></script>

    <style>
      body {
        background-color: #d5d5d5;
      }
    </style>

  </head>
  <body bgcolor="black">


<div style="margin-left: 30;margin-top: 30;margin-right: 30;">


      <h1>CovidLaws // Timeline</h1>
      <div id="menu"></div>

    <font size="5rem">
      <div class="ui placeholder segment">
        <div class="ui two column stackable center aligned grid">
          <div class="ui vertical divider"></div>
          <div class="middle aligned row">
            <div class="column">
              <h2>Countries (empty=all)</h2>

                <div class="ui multiple fluid search selection dropdown" id="countries_dd">
                  <i class="large flag outline icon"></i>
                  <input type="hidden" name="countries">
                  <i class="dropdown icon"></i>
                  <div class="default text">Countries</div>
                  <div class="menu" id="countries_list">
                </div>
              </div>

            </div>
            <div class="column">
             <h2>Measures (empty=all)</h2>
                  <div class="ui multiple fluid search selection dropdown" id="measuretypes_dd">
                    <i class="large heartbeat icon"></i>
                    <input type="hidden" name="measuretypes">
                    <i class="dropdown icon"></i>
                    <div class="default text">Measure types</div>
                    <div class="menu">
                  </div>
                </div>
            </div>
          </div>
          <div class="ui divider"></div>
          <div class="middle aligned row">
            <div class="column">
              <div class="ui vertical animated massive button" tabindex="0" id="load_data" style="width:200px">
                <div class="hidden content" >Load</div>
                <div class="visible content">
                  <i class="large arrow circle down icon"></i>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui vertical animated massive button" tabindex="0" id="change_mode" style="width:200px">
                <div class="hidden content" id="loadtext">by measure</div>
                <div class="visible content">
                  <i class="large exchange alternate icon"></i>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <br>

    </font>

      <div id="bycountry">
              <h2>By country</h2>
                * = end of measure undefined,
                # = regional<br>
                Dark: Full closure // Light: Partial closure/with restrictions // White: Revoked/Never introduced

                <div id="datachartCountry" style="height: 950px;"></div>
      </div>
      <div id="bymeasure" style="display:none">
              <h2>By measure</h2>
                * = end of measure undefined,
                # = regional<br>
                Dark: Full closure // Light: Partial closure/with restrictions // White: Revoked/Never introduced
                <div id="datachartMeasure" style="height: 950px"></div>
          </div>
      </div>
  </body>
</html>




