{% load static i18n %}
{% load static %}

<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>{% block title_header %}{% endblock %}</title>
    <meta name="description" content={% block description %}{% endblock %}>

    <script src="{% url 'javascript-catalog' %}"></script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/3.js" site="EWPICMYO"></script>
    <!-- / Fathom -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/card.min.css"/>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>
    <script type="text/javascript" src="{% static 'js/chartjs-plugin-annotation.js' %}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <link href="{% static 'css/timeline.css' %}" rel="stylesheet">

    <script type="text/javascript" src="{% static 'js/base_global.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ch_timeline_base.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>

    {% block scripts %}
    {% endblock %}


    <script>
      $( document ).ready(function() {
             $('.ui.sidebar').sidebar({
            context: $('.ui.pushable.segment'),
            transition: 'overlay'
            }).sidebar('attach events', '#mobile_item');
       });
    </script>

    {% block styles %}
    {% endblock %}

    <style>
      #outer {
        display: flex;
        flex-flow: column;
        height: 100%;
      }
    </style>

  </head>
  <body bgcolor="black">
  <div id="outer">
    <div class="ui grid">

      <div class="computer only row">
        <div class="column">



          <div class="ui six item menu">
            <a class="item" href="/">{% trans "Home"%}</a>

              <div class="ui simple dropdown item">
        {% trans "Switzerland"%}
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/cantons/">{% trans "Measures Case development"%}</a>
          <a class="item" href="/districts7/">{% trans "Map cases Districts Cantons"%}</a>
          <a class="item" href="/chrisk/">{% trans "Risk calculator"%}</a>
          <a class="item" href="/ranking7/">{% trans "Ranking"%}</a>
          <a class="item" href="/deaths_ch/">{% trans "Deaths per canton"%}</a>
        </div>
      </div>
              <div class="ui simple dropdown item">
        {% trans "World"%}
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/compare/">{% trans "Compare countries"%}</a>
          <a class="item" href="/ranking_europe/">{% trans "Ranking Europe"%}</a>
          <a class="item" href="/ranking_world/">{% trans "Ranking World"%}</a>
          <a class="item" href="/country/">{% trans "Country profiles"%}</a>
          <a class="item" href="/deaths/">{% trans "Deaths"%}</a>
          <a class="item" href="/euromap/">{% trans "Map measures Europe"%}</a>
          <a class="item" href="/belrisk/">{% trans "Risk calculator Belgium"%}</a>
        </div>
      </div>

            <a class="item" href="/about/">{% trans "About"%}</a>
            <a class="item" href="https://twitter.com/CovidlawsStats" alt="Twitter Bot"><i class="twitter square icon"></i></a>
            <a class="item" href="https://t.me/covidlaws"><i class="telegram icon"></i></a>


    </div>

		</div>
	</div>

	 <div class="tablet mobile only row">

		<div class="column">
			<div class="ui menu">
				<a id="mobile_item" class="item"><i class="bars icon"></i></a>
        				<a href="/" class="item">{% trans "Home"%}</a>
        				<a href="/ch/" class="item">{% trans "Switzerland"%}</a>
        				<a href="/about/" class="item">{% trans "About"%}</a>
            <a class="item" href="https://twitter.com/CovidlawsStats"><i class="twitter square icon"></i></a>
            <a class="item" href="https://t.me/covidlaws"><i class="telegram icon"></i></a>
			</div>
		</div>
	</div>

</div>

    <div class="ui pushable segment" style="flex-grow: 1;">
		<div class="ui sidebar vertical menu">
      <p><b>{% trans "Switzerland"%}</b></p>
        <a class="item" href="/cantons/">{% trans "Measures and case development"%}</a>
        <a class="item" href="/districts7/">{% trans "Map cases Districts/Cantons"%}</a>
        <a class="item" href="/chrisk/">{% trans "Risk calculator"%}</a>
        <a class="item" href="/ranking7/">{% trans "Ranking"%}</a>
        <a class="item" href="/deaths_ch/">{% trans "Deaths per canton"%}</a>
      <br><p><b>{% trans "World"%}</b></p>
        <a class="item" href="/compare/">{% trans "Compare countries"%}</a>
        <a class="item" href="/ranking_europe/">{% trans "Ranking Europe"%}</a>
        <a class="item" href="/ranking_world/">{% trans "Ranking World"%}</a>
        <a class="item" href="/country/">{% trans "Country profiles"%}</a>
        <a class="item" href="/deaths/">{% trans "Deaths"%}</a>
        <a class="item" href="/euromap/">{% trans "Map measures Europe"%}</a>
        <a class="item" href="/belrisk/">{% trans "Risk calculator Belgium"%}</a>
		</div>
		<div class="pusher">
				<div id="content" class="ui segment" style="margin-right:100px">
          {% autoescape off %}
            <h1>{% block title %}{% endblock %}</h1>
          {% block content %}
          {% endblock %}
          {% endautoescape %}
				</div>
		 </div>
</div>
  </div>


  </body>
</html>




