{% load static i18n %}
<html>
  <head>
    <title>Covid measure meter</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script type="text/javascript">
      google.charts.load("current", {packages:["timeline"]});
      google.charts.setOnLoadCallback(drawChart);

      //This is horrbile, check later for proper delivery of env var
      var hostname_splitted = "{{ settings.HOSTNAME }}".split('&#x27;');
      var hostname = hostname_splitted[1];

      $( document ).ready(function() {

          $("#btnSubmit").click(function(){
            var countries = ""
            $('input.country:checkbox:checked').each(function () {
                countries = countries + $(this).val() +",";
            });

            var types = ""
            $('input.type:checkbox:checked').each(function () {
                types = types + $(this).val() +",";
            });

              drawChart(countries, types);
          });

          var dataCountries = $.ajax({
          url: hostname + "/measuremeterdata/countries/",
          dataType: "json",
          async: false
          }).responseText;

          var jsonCountries = JSON.parse(dataCountries);

          var optionsCountries='';
          optionsCountries += '<input type="checkbox" class="all_country" name="checkbox-all" id="checkbox-all" value="all" class="custom" />';
          optionsCountries += '<label for="checkbox-all">All</label><br>';

          $.each(jsonCountries, function(id, line) {
               optionsCountries += '<input type="checkbox" class="country" name="country" id="checkbox-' + id + '" value="' + line['pk'] + '" class="custom" />';
               optionsCountries += '<label for="checkbox-' + id + '">' + line['name'] + '</label>&nbsp;';
          });
          $('#countries').append(optionsCountries);

          var dataMeasuresTypes = $.ajax({
          url: hostname + "/measuremeterdata/measuretypes/",
          dataType: "json",
          async: false
          }).responseText;

          var jsonMeasuresTypes = JSON.parse(dataMeasuresTypes);

          var optionsMeasuresTypes='';
          optionsMeasuresTypes += '<input type="checkbox" class="all" name="checkbox-all" id="checkbox-all" value="all" class="custom" />';
          optionsMeasuresTypes += '<label for="checkbox-all">All</label>';

          var category = -1;

          $.each(jsonMeasuresTypes, function(id, line) {
              if (line['category']['pk'] != category)
              {
                category = line['category']['pk'];
                optionsMeasuresTypes += '<hr><b><input type="checkbox" class="all_type" name="checkbox-' + category + '" id="checkbox-' + category + '" value="' + category + '" class="custom" />';
                optionsMeasuresTypes += '<label for="checkbox-' + category + '">' + line['category']['name'] + '</label></b><br>';
              }

               optionsMeasuresTypes += '<input type="checkbox" class="type" name="checkbox-' + id + '" id="checkbox-' + id + '" value="' + line['pk'] + '" class="custom" />';
               optionsMeasuresTypes += '<label for="checkbox-' + id + '">' + line['name'] + '</label>&nbsp;';
          });
          $('#measurestypes').append(optionsMeasuresTypes);

      });


      function drawChart(countries, measuretypes) {
         if (countries == undefined)
         {
           countries="";
         }
         if (measuretypes == undefined)
         {
           measuretypes="";
         }
         console.log(countries + " " + measuretypes);
          var data = $.ajax({
          url: hostname + "/measuremeterdata/measures/?country_in="+countries+"&type_in="+measuretypes,
          dataType: "json",
          async: false
          }).responseText;
          var jsonData = JSON.parse(data);

        var container = document.getElementById('example2.1');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'Country' });
        dataTable.addColumn({ type: 'string', id: 'Measure' });
        //dataTable.addColumn({ type: 'string', role:'tooltip'});
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });

        $.each(jsonData, function(id, line) {
          var type = line['type']['name'].toString();
          var start_str = line['start'].split("-")
          var start_date = new Date(start_str[0], start_str[1]-1, start_str[2])

          if (line['end'] != null)
          {
            var end_str = line['end'].split("-")
            var end_date = new Date(end_str[0], end_str[1]-1, end_str[2])
          }
          else
          {
            var end_date = new Date(2020, 5, 31)
            type = type + "*";
          }

          var source = "Source: " + line['sources'].toString()

          dataTable.addRows([[line['country']['name'].toString(),type,start_date,end_date]])
});
        chart.draw(dataTable);


      }
    </script>
  </head>
  <body>
  ----
{{ settings.HOSTNAME }}
  -----
    <font face="arial">
    <h1>Covid responses/measures</h1>
    <b>Countries:</b>
    <div id="countries"></div>
    <hr>
    <b>Measures:</b>
    <div id="measurestypes"></div>
    <hr>
      <input id = "btnSubmit" type="submit" value="Reload"/>
    <hr>
      * = end of measure undefined
    <div id="example2.1" style="height: 900px;"></div>
    </font>
  </body>
</html>




